<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

	<th:block layout:fragment="conteudo">
		<section class="content">
	
			<h3 class="heading_b uk-margin-bottom">Pessoas Físicas</h3>
	
			<form method="GET" th:object="${pessoaFisicaFilter}">
				<input type="hidden" id="filtroAberto" th:field="*{filtroAberto}"/>
			
				<div class="md-card md-card-filter" th:classappend="*{filtroAberto ? '' : 'md-card-collapsed'}">
					<div class="md-card-toolbar">
	                    <div class="md-card-toolbar-actions">
							<i class="md-icon material-icons md-card-toggle" th:text="*{filtroAberto ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}" onclick="controlaPainelFiltros()"></i>
						</div>
	                    <h3 class="md-card-toolbar-heading-text md-card-filter-title">
	                        FILTROS
	                    </h3>
					</div>
	                <div class="md-card-content" th:style="*{filtroAberto} ? 'display:block' : 'display:none'">
                		<div class="uk-grid uk-grid-divider" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-medium-1-2 center">
                                <div class="uk-form-row parsley-row">
                                	<h4 class="heading_c uk-margin-bottom">Sexo</h4>
                                	<select id="sexoCombo" class="md-input" th:field="*{sexo}">
                                		<option th:each="sexo : ${sexoFiltroCombo}" th:value="${sexo.key}" th:text="${sexo.label}"></option>
                            		</select>
	  							</div>
							</div>
							
							<div class="uk-width-medium-1-2 center">
                                <div class="uk-form-row parsley-row">
                                	<h4 class="heading_c uk-margin-bottom">Período Data de Nascimento</h4>
  									<div class="uk-flex-inline" style="text-align: left;">
  										<div class="uk-input-group range" style="max-width: 100px;">
	                                        <label for="date-from">Data Início</label>
	                                        <input class="md-input md-input-date date-from" type="text" id="dateFrom" th:field="*{dataInicio}"/>
	                                    </div>
	                                    <div class="uk-vertical-align-bottom" style="padding: 15px 10px;">
	                                    	<label>até</label>
	                                    </div>
	                                    <div class="uk-input-group range" style="max-width: 100px;">
	                                        <label for="date-to">Data Fim</label>
	                                        <input class="md-input md-input-date date-to" type="text" id="dateTo" th:field="*{dataFim}" />
	                                    </div>
  									</div>
	  							</div>
							</div>
                        </div>
                       	<div class="uk-grid">
							<div class="uk-width-1-1 uk-text-right">
								<button class="md-btn md-btn-flat-default" onclick="limpaFiltros()">Limpar Filtros</button>
	                        	<button id="#btnFiltrar" type="submit" class="md-btn md-btn-primary md-btn-flat-primary">Filtrar</button>
							</div>
						</div>
	                </div>
				</div>
				<div class="md-card uk-margin-medium-bottom">
					<div class="md-card-content">
						<div layout:include="./fragments/mensagem"></div>
					
						<div class="uk-grid uk-grid-list" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-medium-1-2">
								<a th:href="@{/pessoaFisica/novo}" th:if="${!bloquearInsercao}" class="md-btn md-btn-success"> 
									<span th:text="Incluir"></span>
								</a>
							</div>
							<div class="uk-width-medium-1-2">
	 							<div class="uk-margin">
							        <div class="uk-inline input-search">
		                            	<input id="pesquisar" type="text" class="md-input" placeholder="Pesquisar" th:field="*{pesquisa}"/>
		                            	<button id="btnSearch" type="submit" class="md-icon material-icons input-icon-search">search</button>
		                            	
		                            	<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" style="margin-top:10px">
			                                <a class="md-icon material-icons">more_vert</a>
			                                <div class="uk-dropdown">
			                                    <ul class="uk-nav uk-nav-dropdown">
			                                    	<li class="uk-nav-header">Exportar</li>
			                                    	<li class="uk-nav-divider"></li>
			                                        <li><a th:href="@{/pessoaFisica/downloadPdf}" target="_blank">PDF</a></li>
			                                    </ul>
			                                </div>
			                            </div>
							        </div>
							    </div>
							</div>
	                     </div>
						
						<div class="uk-overflow-container tabela">
							<table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair">
								<thead>
									<tr>
										<th class="uk-width-10-10"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='Nome', campo='pessoa.nome')"></div></th>
										<th class="uk-width-1-10 uk-text-center"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='CPF', campo='cpf')"></div></th>
										<th class="uk-width-1-10 uk-text-center"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='RG', campo='rg')"></div></th>
										<th class="uk-width-1-10 uk-text-center"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='Data de Nascimento', campo='dataNascimento')"></div></th>
										<th class="uk-width-1-10 uk-text-center"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='Sexo', campo='sexo')"></div></th>
										<th class="uk-width-1-10 uk-text-center"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome=ID, campo='id')"></div></th>
										<th class="uk-width-1-10 uk-text-center" th:if="${!bloquearAlteracao or !bloquearExclusao}">Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="pessoaFisica,linha : ${pagina.conteudo}" th:class="${linha.even} ? 'odd' : 'even'">
										<td th:text="${pessoaFisica.pessoa.nome}"></td>
										<td class="uk-text-center" th:text="${pessoaFisica.cpfFormatado}"></td>
										<td class="uk-text-center" th:text="${pessoaFisica.rg}"></td>
										<td class="uk-text-center" th:text="${pessoaFisica.dataNascimentoFormatada}"></td>
										<td class="uk-text-center" th:text="${pessoaFisica.sexoFormatado}"></td>
										<td class="uk-text-center" th:text="${pessoaFisica.idPessoa}"></td>
										<td class="uk-text-center" th:if="${!bloquearAlteracao or !bloquearExclusao}">
						                    <a th:href="@{/pessoaFisica/editar/{codigo}(codigo=${pessoaFisica.idPessoa})}" th:if="${!bloquearAlteracao}" data-uk-tooltip="data-uk-tooltip" title="Editar">
						                    	<i class="md-icon material-icons">edit</i>
						                    </a>
						                    <a th:onclick="'excluir(\'' + @{/pessoaFisica/excluir/{codigo}(codigo=${pessoaFisica.idPessoa})} + '\');'" th:if="${!bloquearExclusao}" data-uk-tooltip="data-uk-tooltip" title="Excluir">
						                    	<i class="md-icon material-icons">delete</i>
						                    </a>
						                </td>
									</tr>
									<tr th:if="${pagina.vazia}">
										<td class="uk-text-center table-empty" colspan="7"><span>Nenhum registro encontrado</span></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div th:replace="fragments/paginacao :: paginacao(pagina=${pagina})"></div>
					</div>
				</div>
			</form>
		</section>
		<script th:src="@{/js/data_range.js}"></script>
		<script th:inline="javascript">
			function controlaPainelFiltros() {
				var filtroAberto = $('#filtroAberto').val(); 
				$('#filtroAberto').val(filtroAberto === 'true' ? 'false' : 'true');
			}
			function limpaFiltros() {
				$('#dateFrom').val(null);
				$('#dateFrom').parent().removeClass('md-input-filled');
				$('#dateTo').val(null);
				$('#dateTo').parent().removeClass('md-input-filled');
				$('#sexoCombo').val(null);
				$('#btnFiltrar').click();
			}
		</script>
	</th:block>
</html>