<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

	<th:block layout:fragment="conteudo">    	
		<section class="content">
			<h3 class="heading_b uk-margin-bottom">Pessoa Física</h3>
			
			<div class="md-card">
                <div class="md-card-content large-padding">
                    <form id="form_validation" class="uk-form-stacked" method="POST" enctype="multipart/form-data" th:action="@{/pessoaFisica/gravar}" th:object="${pessoaFisica}">
                    	<div class="uk-grid">
							<div class="uk-width-1-1">
								<ul class="uk-tab" data-uk-tab="{connect:'#pessoaFisica_tabs'}" id="tabs">
									<li id="abaCadastro" class="uk-active" aria-expanded="true"><a href="#">Cadastro</a></li>
									<li id="abaEndereco" aria-expanded="false"><a href="#">Endereço</a></li>
									<li id="abaContatos" aria-expanded="false"><a href="#">Contatos</a></li>
								</ul>
								<ul id="pessoaFisica_tabs" class="uk-switcher uk-margin">
									<li aria-hidden="false" class="uk-active">
										<div class="md-card-content ">
                    
					                    	<div layout:include="./fragments/mensagem-erro"></div>
					                    
					                    	<input type="hidden" id="id" th:field="*{idPessoa}"/>
					                    	<input type="hidden" th:field="*{pessoa.id}"/>
					                    	<input type="hidden" th:field="*{pessoa.checksum}"/>
					                    	<input type="hidden" th:field="*{pessoa.checksumAlteracao}"/>
					                    	<input type="hidden" th:field="*{endereco.id}"/>
					                    	<input type="hidden" th:field="*{checksum}"/>
                    						<input type="hidden" th:field="*{checksumAlteracao}"/>
					                    
											<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
												<div class="uk-width-medium-1-1">
					                                <div class="uk-form-row parsley-row">
					                                    <label for="nome">Nome <span class="req">*</span></label>
					                                    <input name="nome" id="nome" required="required" maxlength="500" class="md-input" th:field="*{pessoa.nome}"/>
					                                </div>
												</div>
												
												<div class="uk-width-medium-1-2">
					                                <div class="uk-form-row parsley-row">
					                                    <label for="cpf">CPF <span class="req">*</span></label>
					                                    <input id="cpf" class="md-input input_cpf" required="required" type="text" data-parsley-cpf="data-parsley-cpf" th:field="*{cpf}" />
					                                </div>
												</div>
												
												<div class="uk-width-medium-1-2">
					                                <div class="uk-form-row parsley-row">
					                                    <label for="rg">RG</label>
					                                    <input id="rg" class="md-input" type="text" maxlength="50" th:field="*{rg}"/>
					                                </div>
												</div>
												
												<div class="uk-width-medium-1-2">
					                                <div class="uk-form-row parsley-row">
					                                    <label for="dataNascimento">Data de Nascimento </label>
					                                    <input id="dataNascimento" class="md-input input_dataNascimento" type="text" th:field="*{dataNascimentoString}"  />
					                                </div>
												</div>
												
												<div class="uk-width-medium-1-2">
					                                <div class="uk-form-row parsley-row">
					                                    <label for="sexoCombo">Sexo</label>
					                                    <select id="sexoCombo" class="md-input input_combo" th:field="*{sexo}">
					                                		<option th:each="sexo : ${sexoCombo}" th:value="${sexo.key}" th:text="${sexo.label}"></option>
					                            		</select>
					                                </div>
												</div>

					                           	<div class="uk-width-medium-1-1 uk-margin-medium-top">
													<div class="uk-form-row">
														<label class="label-req"><span class="req">*</span> Campos obrigatórios</label> 
													</div>
												</div>
											</div>
										</div>
									</li>
									<li aria-hidden="true" class="">
										<div class="md-card-content">
											<div th:replace="cadastros/endereco/endereco-cadastro :: endereco"> </div>
										</div>
									</li>
									<li aria-hidden="true" class="">
										<div class="md-card-content">
											<div th:replace="cadastros/contato/contato-lista :: listaContato"> </div>
										</div>
									</li>
								</ul>
		                        <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="data-uk-grid-margin">
									<div class="uk-width-1-1 uk-text-center">
										<button type="submit" class="md-btn md-btn-success md-btn-flat-primary btnGravar">Gravar</button>
		                                <a th:href="@{/pessoaFisica}" type="button" class="md-btn md-btn-danger uk-modal-close">Cancelar</a>
									</div>
								</div>
							</div>
						</div>
						<script th:inline="javascript">
							var idCidade = [[${pessoaFisica.endereco.idCidade}]]
							var idEstado = [[${pessoaFisica.endereco.idEstado}]]
						</script>
                    </form>
                </div>
            </div>
            <div layout:include="./cadastros/contato/contato-cadastroModal"></div>
            <div layout:include="./modal/confirmaExclusaoJSModal"></div>
		</section>
		<div layout:include="./fragments/jsValidacao"></div>
		<script th:src="@{/js/loader.js}"></script>
		<script th:src="@{/js/cadastros/endereco.js}"></script>
		<script th:src="@{/js/cadastros/contato.js}"></script>
		<script th:inline="javascript">
		 	//<![CDATA[
				$(function() {
					formatarCamposData($('.input_dataNascimento'));
				});
			//]]>
		</script>
	</th:block>
</html>