<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-simples">

	<th:block layout:fragment="conteudo">
		<link rel="stylesheet" type="text/css" th:href="@{/css/error_page.min.css}" media="all"/>
	
		<div class="error_page">
			<div class="error_page_header">
		        <div class="uk-width-8-10 uk-container-center">
		            404!
		        </div>
		    </div>
		    <div class="error_page_content">
		        <div class="uk-width-8-10 uk-container-center">
		            <p class="heading_b">Ops!</p>
		            <p class="uk-text-large">
		                A URL solicitada não foi encontrada!
		            </p>
		            <a href="#" onclick="history.go(-1);return false;">Voltar</a>
		        </div>
		    </div>
		</div>
	</th:block>
</html>