<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

	<th:block layout:fragment="conteudo">    	
		<section class="content">
			<h3 class="heading_b uk-margin-bottom">EPI</h3>
			
			<div class="md-card">
                <div class="md-card-content large-padding">
                    <form id="form_validation" class="uk-form-stacked" method="POST" enctype="multipart/form-data" th:action="@{/epi/gravar}" th:object="${epi}">
                    
                    	<div layout:include="./fragments/mensagem-erro"></div>
                    
                    	<input type="hidden" th:field="*{id}"/>
                    	<input type="hidden" th:field="*{checksum}"/>
                    	<input type="hidden" th:field="*{checksumAlteracao}"/>
                    
                        <div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-medium-2-10">
                                <div class="uk-form-row parsley-row md-input-wrapper">
	                                <label for="ca">CA</label>
                                    <input name="ca" id="ca" class="md-input" th:field="*{ca}" />
                                    <span class="material-icons icon-search" onclick="consultarCa()" data-uk-tooltip="{pos:'right', cls:'long-text'}"  title="Informe o CA e clique aqui para buscar as informações do EPI automaticamente">search</span>
	                                <span class="md-input-bar "></span>
	                            </div>
                            </div>
							<div class="uk-width-medium-2-10">
                                <div class="uk-form-row parsley-row md-input-wrapper">
	                                <label for="dataValidadeCa">Validade do CA</label>
                                   	<input id="dataValidadeCa" class="md-input input_date_picker" type="text" th:field="*{validadeCa}"  />
									<span id="iconCa" class="material-icons icon-status" data-uk-tooltip="{pos:'right', cls:'long-text'}"></span>	                                    
	                                <span class="md-input-bar "></span>
                                </div>
							</div>
                            <div class="uk-width-medium-8-10">
                                <div class="uk-form-row parsley-row">
                                    <label for="nome">Nome <span class="req">*</span></label>
                                    <input name="nome" id="nome" required="required" class="md-input" th:field="*{nome}" />
                                </div>
							</div>
							<div class="uk-width-medium-2-10">
                                <div class="uk-form-row parsley-row">
  									<div class="uk-flex-inline vida_util_combo" style="width: 100%;height: 47px;">
  										<label for="fabricante">Vida Útil </label>
    									<input type="number" min="1" class="md-input input-numeric" th:field="*{vidaUtil}" style="text-align: right;" />
      									<select id="vidaUtilUnidade" class="md-input" style="margin-top:-12px;" th:field="*{vidaUtilUnidade}">
      										<option th:each="un : ${vidaUtilUnidadeCombo}" th:value="${un.key}" th:text="${un.descricao}"></option>
      									</select>
  									</div>
								</div>
							</div>
							<div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                	<label for="unidadeCombo">Unidade de Medida</label>
									<select id="unidadeCombo" class="md-input" th:field="*{idUnidade}">
                                		<option th:each="unidade : ${unidadesMedidaCombo}" th:value="${unidade.key}" th:text="${unidade.label}"></option>
                            		</select>
                                </div>
							</div>
							<div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                	<label for="gradeCombo">Grade de Tamanhos</label>
									<select id="gradeCombo" class="md-input" th:field="*{idGrade}">
                                		<option th:each="grade : ${gradesCombo}" th:value="${grade.key}" th:text="${grade.label}"></option>
                            		</select>
                                </div>
							</div>
							<div class="uk-width-medium-1-1">
                                <div class="uk-form-row parsley-row">
                                	<span class="icheck-inline">
										<input type="checkbox" id="descartvel" name="descartvel" data-md-icheck="data-md-icheck" th:field="*{descartavelB}" />
										<label for="descartvel" class="inline-label">EPI descartável</label>
									</span>
                                </div>
							</div>
                           	<div class="uk-width-medium-1-1 uk-margin-medium-top">
								<div class="uk-form-row">
									<label class="label-req"><span class="req">*</span> Campos obrigatórios</label> 
								</div>
							</div>
                        </div>
                        <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-1-1 uk-text-center">
								<button type="submit" class="md-btn md-btn-success md-btn-flat-primary btnGravar">Gravar</button>
                                <a th:href="@{/epi}" type="button" class="md-btn md-btn-danger uk-modal-close">Cancelar</a>
							</div>
						</div>
						<div th:if="${modalConfirmacao}">
							<script th:inline="javascript">
								$(function() {
									abrirModal('epiConfirmacao');
								});
							</script>
						</div>
                    </form>
                </div>
            </div>
            <div layout:include="./cadastros/epi/epi-confirmacaoModal"></div>
		</section>
		<div layout:include="./fragments/jsValidacao"></div>
		<script th:src="@{/js/loader.js}"></script>
		<script th:inline="javascript">
		 	//<![CDATA[
		 		$(function() {
		 			formatarCamposData($('.input_date_picker'));
		 			verificaCampos();
					validarDataCa($('#dataValidadeCa').val());
				});
		 		
		 		$('#ca').keypress(function(e) {
		 			if (e.keyCode == 13) {
		 				e.preventDefault();
		 				consultarCa();
		 			}
		 		});
		 		
				$('#dataValidadeCa').blur(function(e) {
					validarDataCa($('#dataValidadeCa').val());
				});
				$('#dataValidadeCa').change(function(e) {
					validarDataCa($('#dataValidadeCa').val());
				});
				function verificaCampos() {
					var ca = $('#ca').val();
					if (ca != null && ca != "") {
						$('#ca').parent().addClass('md-input-filled');
					}
					var validadeCa = $('#dataValidadeCa').val();
					if (validadeCa != null && validadeCa != "") {
						$('#dataValidadeCa').parent().addClass('md-input-filled');
					}
				}
				function consultarCa() {
					var ca = $('#ca').val();
					if (ca != '') {
						ajaxStart();
						$.ajax({
						     type: 'GET',
						     url: '/dexSystem/epi/consultarCa',
						     data: { 'ca': ca },
						     success: function(response) {
								if (response != "") {
						    	    $('#dataValidadeCa').parent().addClass('md-input-filled');
									$('#dataValidadeCa').val(response.validadeCa);
							    	 
							    	$('#nome').parent().addClass('md-input-filled md-input-wrapper-success');
							    	$('#nome').addClass('md-input-success');
									$('#nome').val(response.nome);
									
									validarDataCa(response.validadeCa);
								} else {
									mensagemErro('Não foi possível localizar as informações automaticamente!');					
								}
								ajaxStop();
						     }
						});
					} else {
						mensagemErro('Informe o CA!');
					}
				}
				function validarDataCa(data) {
					if (data != null && data != "") {
						var arrayData = data.split('/');
					    var campoDia = parseInt(arrayData[0]); 
					    var campoMes = parseInt(arrayData[1]); 
					    var campAno = parseInt(arrayData[2]);
						 
					    var dataUsuario = new Date();
					    dataUsuario.setDate(campoDia);
					    dataUsuario.setMonth(campoMes -1);
					    dataUsuario.setFullYear(campAno);
						 
					    var dataLimite = new Date();
						 
					    if (dataLimite.getTime() >= dataUsuario.getTime()) {
					    	$('#iconCa').text('close');
					    	
					    	$('#iconCa').removeClass('md-icon-check');
					    	$('#iconCa').addClass('md-icon-times');
					    	
					    	$('#iconCa').attr('title', 'CA vencido!');
					    } else {
					    	$('#iconCa').text('done');
					    	
					    	$('#iconCa').removeClass('md-icon-times');
					    	$('#iconCa').addClass('md-icon-check');
					    	
					    	$('#iconCa').attr('title', 'CA em dia!');
					    }
					} else {
						$('#iconCa').text('');
					}
				}
			//]]>
		</script>
	</th:block>
</html>