<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	
		<link rel="icon" type="image/png" th:href="@{/img/favicon-16x16.png}" sizes="16x16"/>
		<link rel="icon" type="image/png" th:href="@{/img/favicon-32x32.png}" sizes="32x32"/>
	
	    <title>DEX System</title>
	
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/dropify/css/dropify.css}" media="all"/>
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/weather-icons/css/weather-icons.min.css}" media="all"/>
		<link rel="stylesheet" type="text/css" th:href="@{/plugins/uikit/css/uikit.almost-flat.min.css}" media="all"/>
		<link rel="stylesheet" type="text/css" th:href="@{/icons/flags/flags.min.css}" media="all"/>
		
		<link rel="stylesheet" th:href="@{/plugins/kendo-ui/styles/kendo.common-material.min.css}"/>
	    <link rel="stylesheet" th:href="@{/plugins/kendo-ui/styles/kendo.material.min.css}"/>
			
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.min.css}" media="all"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="all"/>
		
		<script th:src="@{/js/common.min.js}"></script>
		<script th:src="@{/js/uikit_custom.min.js}"></script>
		<script th:src="@{/js/kendoui_custom.min.js}"></script>
		<script th:src="@{/js/jquery.mask.min.js}"></script>
		<script th:src="@{/js/jquery.cpfcnpj.js}"></script>
		<script th:src="@{/js/aes.js}"></script>
	</head>
	
	<body class="sidebar_main_open sidebar_main_swipe">
		<div id="page_loader"></div>
	
		<header layout:include="layout/fragments/cabecalho"></header>
		<aside layout:include="layout/fragments/menu"></aside>
		
		<script th:src="@{/js/altair_admin_common.min.js}"></script>	
		<script th:src="@{/js/pages/components_notifications.min.js}"></script>
		<script th:src="@{/js/pages/components_preloaders.min.js}"></script>
		<script th:src="@{/js/mensagem.js}"></script>
		
	  	<div id="page_content">
	        <div id="page_content_inner">
			
				<section layout:fragment="conteudo"></section>
				
				<div layout:include="./modal/confirmaExclusaoModal"></div>
			</div>
		</div>
		<script th:src="@{/fonts/webfont.js}"></script>
		<script th:src="@{/js/dex_system.js}"></script>
	</body>
</html>