<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
	<head>
	    <meta charset="UTF-8" />
	    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	
	    <link rel="icon" type="image/png" th:href="@{/img/favicon-16x16.png}" sizes="16x16"/>
	    <link rel="icon" type="image/png" th:href="@{/img/favicon-32x32.png}" sizes="32x32"/>
	
	    <title>DEX System</title>
	
		<link rel="stylesheet" type="text/css" th:href="@{https://fonts.googleapis.com/css?family=Roboto:300,400,500}" media="all"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/plugins/uikit/css/uikit.almost-flat.min.css}" media="all"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/login_page.min.css}" media="all"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.min.css}" media="all"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="all"/>
		
		<script th:src="@{/js/common.min.js}"></script>
		<script th:src="@{/js/uikit_custom.min.js}"></script>
	</head>
	
	<body>
		<script th:src="@{/js/altair_admin_common.min.js}"></script>
	
	 	<div class="layout-simples">
	   		<section class="content-header"></section>
	   		<section layout:fragment="conteudo"></section>
	 	</div>
	 	
		<script th:src="@{/js/altair_admin_common.min.js}"></script>
	</body>
</html>