<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

	<th:block layout:fragment="conteudo">
		<section class="content">
	
			<h3 class="heading_b uk-margin-bottom">Atividades</h3>
	
			<form method="GET" th:object="${atividadeFilter}">
				<input type="hidden" id="filtroAberto" th:field="*{filtroAberto}"/>
			
				<div class="md-card md-card-filter" th:classappend="*{filtroAberto ? '' : 'md-card-collapsed'}">
					<div class="md-card-toolbar">
	                    <div class="md-card-toolbar-actions">
							<i class="md-icon material-icons md-card-toggle" th:text="*{filtroAberto ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}" onclick="controlaPainelFiltros()"></i>
						</div>
	                    <h3 class="md-card-toolbar-heading-text md-card-filter-title">
	                        FILTROS
	                    </h3>
					</div>
	                <div class="md-card-content" th:style="*{filtroAberto} ? 'display:block' : 'display:none'">
                		<div class="uk-grid uk-grid-divider" data-uk-grid-margin="data-uk-grid-margin">
                		
                			<div class="uk-width-medium-1-4 center">
                                <div class="uk-form-row parsley-row">
                                	<h4 class="heading_c uk-margin-bottom">Empresa</h4>
									<select id="empresaCombo" class="md-input list" th:field="*{idEmpresa}"></select>
	  							</div>
							</div>
							
							<div class="uk-width-medium-1-4 center">
                                <div class="uk-form-row parsley-row">
                                	<h4 class="heading_c uk-margin-bottom">Empregado</h4>
									<select id="empregadoCombo" class="md-input list" th:field="*{idEmpregado}"></select>
	  							</div>
							</div>
							
							<div class="uk-width-medium-1-4 center">
                                <div class="uk-form-row parsley-row">
                                	<h4 class="heading_c uk-margin-bottom">Setor</h4>
									<select id="setorCombo" class="md-input list" th:field="*{idSetor}"></select>
	  							</div>
							</div>
							
							<div class="uk-width-medium-1-4 center">
                                <div class="uk-form-row parsley-row">
                                	<h4 class="heading_c uk-margin-bottom">Cargo</h4>
									<select id="cargoCombo" class="md-input list" th:field="*{idCargo}"></select>
	  							</div>
							</div>
                		
                        </div>
                       	<div class="uk-grid">
							<div class="uk-width-1-1 uk-text-right">
								<button class="md-btn md-btn-flat-default" onclick="limpaFiltros()">Limpar Filtros</button>
	                        	<button id="#btnFiltrar" type="submit" class="md-btn md-btn-primary md-btn-flat-primary">Filtrar</button>
							</div>
						</div>
	                </div>
				</div>
			
				<div class="md-card uk-margin-medium-bottom">
					<div class="md-card-content">
						<div layout:include="./fragments/mensagem"></div>
					
						<div class="uk-grid uk-grid-list" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-medium-1-2">
								<a th:href="@{/atividade/novo}" th:if="${!bloquearInsercao}" class="md-btn md-btn-success"> 
									<span th:text="Incluir"></span>
								</a>
							</div>
							
							<div class="uk-width-medium-1-2">
	 							<div class="uk-margin">
							        <div class="uk-inline input-search">
		                            	<input id="pesquisar" type="text" class="md-input" placeholder="Pesquisar" th:field="*{pesquisa}"/>
		                            	<button id="btnSearch" type="submit" class="md-icon material-icons input-icon-search">search</button>
		                            	
		                            	<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" style="margin-top:10px">
			                                <a class="md-icon material-icons">more_vert</a>
			                                <div class="uk-dropdown">
			                                    <ul class="uk-nav uk-nav-dropdown">
			                                    	<li class="uk-nav-header">Exportar</li>
			                                    	<li class="uk-nav-divider"></li>
			                                        <li><a th:href="@{/atividade/downloadPdf}" target="_blank">PDF</a></li>
			                                    </ul>
			                                </div>
			                            </div>
							        </div>
							    </div>
							</div>
	                     </div>
						
						<div class="uk-overflow-container tabela">
							<table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair">
								<thead>
									<tr>
										<th class="uk-width-3-10"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='Empregado', campo='pessoa.nome')"></div></th>
										<th class="uk-width-2-10"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='Setor', campo='setor.nome')"></div></th>
										<th class="uk-width-2-10"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='Cargo', campo='cargo.nome')"></div></th>
										<th class="uk-width-1-10"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='Função', campo='funcao')"></div></th>
										<th class="uk-width-1-10 uk-text-center"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='Data Início', campo='dataInicio')"></div></th>
										<th class="uk-width-1-10 uk-text-center"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='Data Fim', campo='dataFim')"></div></th>
										<th class="uk-width-1-10 uk-text-center"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome=ID, campo='id')"></div></th>
										<th class="uk-width-1-10 uk-text-center" th:if="${!bloquearAlteracao or !bloquearExclusao}">Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="atividade,linha : ${pagina.conteudo}" th:class="${linha.even} ? 'odd' : 'even'">
										<td th:text="${atividade.empregado.pessoaFisica.pessoa.nome}"></td>
										<td th:text="${atividade.cargo.setor.nome}"></td>
										<td th:text="${atividade.cargo.nome}"></td>
										<td th:text="${atividade.funcao}"></td>
										<td class="uk-text-center" th:text="${atividade.dataInicioFormatada}"></td>
										<td class="uk-text-center" th:text="${atividade.dataFimFormatada}"></td>
										<td class="uk-text-center" th:text="${atividade.id}"></td>
										<td class="uk-text-center" th:if="${!bloquearAlteracao or !bloquearExclusao}">
						                    <a th:href="@{/atividade/editar/{codigo}(codigo=${atividade.id})}" th:if="${!bloquearAlteracao}" data-uk-tooltip="data-uk-tooltip" title="Editar">
						                    	<i class="md-icon material-icons">edit</i>
						                    </a>
						                    <a th:onclick="'excluir(\'' + @{/atividade/excluir/{codigo}(codigo=${atividade.id})} + '\');'" th:if="${!bloquearExclusao}" data-uk-tooltip="data-uk-tooltip" title="Excluir">
						                    	<i class="md-icon material-icons">delete</i>
						                    </a>
						                </td>
									</tr>
									<tr th:if="${pagina.vazia}">
										<td class="uk-text-center table-empty" colspan="7"><span>Nenhum registro encontrado</span></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div th:replace="fragments/paginacao :: paginacao(pagina=${pagina})"></div>
					</div>
				</div>
				<script th:inline="javascript">
					var idEmpregado = [[${atividadeFilter.idEmpregado}]]
					var idEmpresa = [[${atividadeFilter.idEmpresa}]]
					var idCargo = [[${atividadeFilter.idCargo}]]
					var idSetor = [[${atividadeFilter.idSetor}]]
				</script>
			</form>
		</section>
		<script th:src="@{/js/componentes/empresaCombo.js}"></script>
		<script th:src="@{/js/componentes/setorCombo.js}"></script>
		<script th:src="@{/js/componentes/cargoCombo.js}"></script>
		<script th:src="@{/js/componentes/empregadoCombo.js}"></script>
		<script th:src="@{/js/cadastros/atividade.js}"></script>
		<script th:inline="javascript">
			function controlaPainelFiltros() {
				var filtroAberto = $('#filtroAberto').val(); 
				$('#filtroAberto').val(filtroAberto === 'true' ? 'false' : 'true');
			}
			function limpaFiltros() {
				$('#empresaCombo').val(null);
				$('#empregadoCombo').val(null);
				$('#setorCombo').val(null);
				$('#cargoCombo').val(null);
				$('#btnFiltrar').click();
			}
		</script>
	</th:block>
</html>