<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

	<div th:fragment="endereco" style="padding-top: 20px;">
		<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
			<div class="uk-width-medium-1-2">
				<div class="uk-form-row parsley-row">
					<label for="paisCombo">País </label> <select id="paisCombo" class="md-input">
						<option value="0">Brasil</option>
					</select>
				</div>
			</div>
	
			<div class="uk-width-medium-1-2">
				<div class="uk-form-row parsley-row md-input-wrapper">
					<label for="cep">CEP</label> 
					<input name="cep" id="cep" class="md-input input-cep" th:field="*{endereco.cep}" /> 
					<span id="cepSearch" class="material-icons icon-search" data-uk-tooltip="{pos:'right', cls:'long-text'}" title="Informe o CEP e clique aqui para buscar as informações do endereço automaticamente">search</span>
					<span class="md-input-bar "></span>
				</div>
			</div>
	
			<div class="uk-width-medium-1-2">
				<div class="uk-form-row parsley-row">
					<label for="estadoCombo">Estado</label> <select id="estadoCombo" class="md-input" th:field="*{endereco.idEstado}">
						<option th:each="item : ${estadosCombo}" th:value="${item.key}" th:text="${item.label}"></option>
					</select>
				</div>
			</div>
	
			<div class="uk-width-medium-1-2">
				<div class="uk-form-row parsley-row">
					<label for="cidadeCombo">Cidade</label> 
					<select id="cidadeCombo" class="md-input" th:field="*{endereco.idCidade}"></select>
				</div>
			</div>
	
			<div class="uk-width-medium-1-2">
				<div class="uk-form-row parsley-row">
					<label for="bairro">Bairro</label> 
					<input id="bairro" class="md-input" th:field="*{endereco.bairro}" />
				</div>
			</div>
	
			<div class="uk-width-medium-1-2">
				<div class="uk-form-row parsley-row">
					<label for="endereco">Endereço</label> 
					<input id="endereco" class="md-input" th:field="*{endereco.logradouro}" />
				</div>
			</div>
	
			<div class="uk-width-medium-1-2">
				<div class="uk-form-row parsley-row">
					<label for="numero">Número</label> <input id="numero"
						class="md-input" th:field="*{endereco.numero}" />
				</div>
			</div>
	
			<div class="uk-width-medium-1-2">
				<div class="uk-form-row parsley-row">
					<label for="complemento">Complemento</label> 
					<input id="complemento" class="md-input" th:field="*{endereco.complemento}" />
				</div>
			</div>
	
		</div>
	</div>
</html>