<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div id="cadastroItem" class="uk-modal" aria-hidden="true" style="display: none; overflow-y: auto;">
		<div class="uk-modal-dialog" style="top: 115px;">
			<form id="formCadastroItem" class="uk-form-stacked" method="POST" action="cadastrar">
				<div class="uk-modal-header">
					<h3 class="uk-modal-title">Cadastro de Tamanho</h3>
				</div>
				<div id="msgErro">
					<div class="uk-alert uk-alert-danger" style="margin-top:-12px;margin-bottom: 25px;" data-uk-alert="data-uk-alert" th:if="${msgErro != null}">
						<span th:text="${msgErro}"></span>
					</div>
				</div>
				<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
				
					<input type="hidden" id="itemOriginal" />
				
                	<div class="uk-width-medium-1-1">
                    	<div class="uk-form-row parsley-row">
                        	<label for="tamanho">Tamanho <span class="req">*</span></label>
                            <input name="tamanho" id="tamanho" required="required" class="md-input" autofocus="autofocus"  />
						</div>
						<div class="uk-form-row parsley-row">
							<div class="uk-input-group uk-width-medium-3-10">
                                <label for="ordem">Ordem <span class="req">*</span></label> 
								<input name="ordem" id="ordem" type="number" min="1" required="required" class="md-input input-numeric" />
                                <span class="uk-input-group-addon" >
                                    <a class="material-icons icon-help" data-uk-tooltip="{pos:'right', cls:'long-text'}" title="Define a posição que o tamanho aparecerá no campo de seleção dos tamahos da grade">help</a>
                                </span>
                            </div>
						</div>
					</div>
				</div>
				<div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="data-uk-grid-margin">
					<div class="uk-width-1-1 uk-text-center">
						<button type="submit" class="md-btn md-btn-success md-btn-flat-primary btnGravar">Gravar</button>
                        <a type="button" class="md-btn md-btn-danger uk-modal-close">Cancelar</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</html>
