<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.springframework.org/security/tags"
	layout:decorator="layout/layout-padrao">

<th:block layout:fragment="conteudo">
	<section class="content">
		<h3 class="heading_b uk-margin-bottom">Nível de Acesso</h3>

		<div class="md-card">
			<div class="md-card-content ">
				<form id="form_validation" class="uk-form-stacked" method="POST" th:action="@{/nivelAcesso/gravar}" th:object="${nivelAcesso}">
					<div class="uk-grid">
						<div class="uk-width-1-1">
							<ul class="uk-tab" data-uk-tab="{connect:'#niveisAcesso_tabs'}" id="tabs_1">
								<li id="abaCadastro" class="uk-active" aria-expanded="true"><a href="#">Cadastro</a></li>
								<li th:if="${nivelAcesso.nivel != 1}" id="abaPermissoes" aria-expanded="false" ><a href="#" >Permissões</a></li>
							</ul>
							<ul id="niveisAcesso_tabs" class="uk-switcher uk-margin">
								<li aria-hidden="false" class="uk-active">
									<div class="md-card-content ">
										<div class="msg-erro" th:if="${nivelAcesso.nivel == 1}">
											<div class="uk-alert uk-alert-danger" data-uk-alert="data-uk-alert">
												<span>Não é possível editar o Nível de Acesso 1!</span>
											</div>
										</div>
									
										<div layout:include="./fragments/mensagem-erro"></div>
			
										<input type="hidden" th:field="*{id}" />
			
										<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
											<div class="uk-width-medium-1-10">
												<div class="uk-form-row parsley-row ">
													<label for="nivel">Nível <span class="req">*</span></label> 
													<input name="nivel" id="nivel" type="number" min="2" required="required" class="md-input input-numeric" th:field="*{nivel}" th:disabled="${nivelAcesso.nivel == 1}" />
												</div>
											</div>
											<div class="uk-width-medium-9-10">
												<div class="uk-form-row parsley-row">
													<label for="nome">Nome <span class="req">*</span></label> 
													<input name="nome" id="nome" required="required" class="md-input" autofocus="autofocus" th:field="*{nome}" th:disabled="${nivelAcesso.nivel == 1}" />
												</div>
											</div>
											<div class="uk-width-medium-1-1 uk-margin-medium-top">
												<div class="uk-form-row">
													<label class="label-req"><span class="req">*</span> Campos obrigatórios</label> 
												</div>
											</div>
										</div>
									</div>
								</li>
								<li aria-hidden="true" class="">
									<div class="md-card-content">
					                    <div class="uk-overflow-container">
					                        <table class="uk-table uk-text-nowrap">
					                            <thead>
						                            <tr>
						                                <th>Menu</th>
						                                <th class="center" style="width: 10px;">Acessar</th>
						                                <th class="center" style="width: 10px;">Inserir</th>
						                                <th class="center" style="width: 10px;">Alterar</th>
						                                <th class="center" style="width: 10px;">Excluir</th>
						                            </tr>
					                            </thead>
					                            <tbody>
					                            	<tr th:each="nivel, stat : ${nivelAcesso.menuAcessos}">
												    	<input type="hidden" th:field="${nivelAcesso.menuAcessos[__${stat.index}__].idMenu}" />
												    	<input type="hidden" th:field="${nivelAcesso.menuAcessos[__${stat.index}__].idMenuPai}" />
												    	<input type="hidden" th:field="${nivelAcesso.menuAcessos[__${stat.index}__].uri}" />
													    <td>
													    	<input type="hidden" th:field="${nivelAcesso.menuAcessos[__${stat.index}__].menu}"></input>
													    	<span th:text="${nivel.menu}" ></span>
													    </td>
													    <td class="center">
													    	<input type="hidden" th:field="${nivelAcesso.menuAcessos[__${stat.index}__].acessar}"></input>
													    	<a th:id="${stat.index}+acessar" th:attr="idMenu=${nivelAcesso.menuAcessos[__${stat.index}__].idMenu},idMenuPai=${nivelAcesso.menuAcessos[__${stat.index}__].idMenuPai}" th:text="${nivel.acessar}=='1'?'done':'close'" onclick="alterarPermissao(this)" th:classappend="${nivel.acessar}=='1'?'md-icon-check':'md-icon-times'" class="material-icons"></a>
													    </td>
													    <td class="center">
													    	<input type="hidden" th:field="${nivelAcesso.menuAcessos[__${stat.index}__].inserir}"></input>
													    	<a th:id="${stat.index}+inserir" th:attr="idMenu=${nivelAcesso.menuAcessos[__${stat.index}__].idMenu},idMenuPai=${nivelAcesso.menuAcessos[__${stat.index}__].idMenuPai}" th:text="${nivel.inserir} =='1'?'done':'close'" onclick="alterarPermissao(this)" th:if="${nivelAcesso.menuAcessos[__${stat.index}__].idMenu!=1 and nivelAcesso.menuAcessos[__${stat.index}__].uri!=null}" th:classappend="${nivel.inserir}=='1'?'md-icon-check':'md-icon-times'" class="material-icons"></a>
													    	<span th:if="${nivelAcesso.menuAcessos[__${stat.index}__].idMenu==1 or nivelAcesso.menuAcessos[__${stat.index}__].uri==null}" disabled="disabled">-</span>
													    </td>
													    <td class="center">
													    	<input type="hidden" th:field="${nivelAcesso.menuAcessos[__${stat.index}__].alterar}"></input>
													    	<a th:id="${stat.index}+alterar" th:attr="idMenu=${nivelAcesso.menuAcessos[__${stat.index}__].idMenu},idMenuPai=${nivelAcesso.menuAcessos[__${stat.index}__].idMenuPai}" th:text="${nivel.alterar}=='1'?'done':'close'" onclick="alterarPermissao(this)" th:if="${nivelAcesso.menuAcessos[__${stat.index}__].idMenu!=1 and nivelAcesso.menuAcessos[__${stat.index}__].uri!=null}" th:classappend="${nivel.alterar}=='1'?'md-icon-check':'md-icon-times'" class="material-icons"></a>
													    	<span th:if="${nivelAcesso.menuAcessos[__${stat.index}__].idMenu==1 or nivelAcesso.menuAcessos[__${stat.index}__].uri==null}" disabled="disabled">-</span>
													    </td>
													    <td class="center">
													    	<input type="hidden" th:field="${nivelAcesso.menuAcessos[__${stat.index}__].excluir}"></input>
													    	<a th:id="${stat.index}+excluir" th:attr="idMenu=${nivelAcesso.menuAcessos[__${stat.index}__].idMenu},idMenuPai=${nivelAcesso.menuAcessos[__${stat.index}__].idMenuPai}" th:text="${nivel.excluir} =='1'?'done':'close'" onclick="alterarPermissao(this)" th:if="${nivelAcesso.menuAcessos[__${stat.index}__].idMenu!=1 and nivelAcesso.menuAcessos[__${stat.index}__].uri!=null}" th:classappend="${nivel.excluir}=='1'?'md-icon-check':'md-icon-times'" class="material-icons"></a>
													    	<span th:if="${nivelAcesso.menuAcessos[__${stat.index}__].idMenu==1 or nivelAcesso.menuAcessos[__${stat.index}__].uri==null}" disabled="disabled">-</span>
													    </td>
													</tr>
					                            </tbody>
					                        </table>
					                    </div>
					                </div>
								</li>
							</ul>
							<div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="data-uk-grid-margin">
								<div class="uk-width-1-1 uk-text-center">
									<button th:if="${nivelAcesso.nivel != 1}" type="submit" class="md-btn md-btn-success md-btn-flat-primary btnGravar">Gravar</button>
									<a th:href="@{/nivelAcesso}" type="button" class="md-btn md-btn-danger uk-modal-close">Cancelar</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<script th:inline="javascript">
	 	//<![CDATA[
			$(function() {
				validarAba();
			});
			$('#nome').change(function() {
				validarAba();
			});
			function validarAba() {
				var nivel = $('#nivel').val();
				var nome = $('#nome').val();
				if (nome != undefined && nome != "" && nivel != 1) {
					$('#abaPermissoes').removeClass('uk-disabled');
				} else {
					$('#abaPermissoes').addClass('uk-disabled');
				}
			}
			function alterarPermissao(acesso) {
				var a = $('#'+acesso.id); 
				if (acesso.text === 'done') {
					acesso.text = 'close';
					a.parent().find(':input').val('0');
					a.removeClass('md-icon-check');
					a.addClass('md-icon-times');
					
					//remove permissao nos recursos filhos
					var idMenu = a.attr('idMenu');
					var acessoFilhos = $('a[idMenuPai=' + idMenu + ']');
					alterarMenuFilho(acessoFilhos);
					
					//se desabilitar, verificar irmaos
					alterarMenusIrmao(a);
					
				} else if (acesso.text === 'close') {
					acesso.text = 'done';
					a.parent().find(':input').val('1');					
					a.addClass('md-icon-check');
					a.removeClass('md-icon-times');
					
					//adiciona permissao no recurso pai
					var idMenuPai = a.attr('idMenuPai');
					var acessoPai = $('a[idMenu=' + idMenuPai + ']');
					alterarMenuPai(acessoPai);
					
					//se habilitar, verificar irmaos
					alterarMenusIrmao(a);
				}
			}
			function alterarMenuPai(acesso) {
				if (acesso[0] !== undefined) {
					acesso[0].text = 'done';
					acesso.parent().find(':input').val('1');					
					acesso.addClass('md-icon-check');
					acesso.removeClass('md-icon-times');
					
					var idMenuPai = acesso.attr('idMenuPai');
					if (idMenuPai !== undefined) {
						var acessoPai = $('a[idMenu=' + idMenuPai + ']');
						alterarMenuPai(acessoPai);
					}
				}
			}
			function alterarMenuFilho(acessos) {
				for (i = 0; i < acessos.length; i++) {
					acessos[i].text = 'close';
				}
				acessos.parent().find(':input').val('0');
				acessos.removeClass('md-icon-check');
				acessos.addClass('md-icon-times');
				
				//remove permissao nos recursos filhos
				var i = 0;
				while (i < acessos.length) {
					var idAcesso = acessos[i].id;
					if (idAcesso.includes('acessar')) {
						var idMenu = acessos[i].attributes.idmenu.nodeValue;
						if (idMenu !== undefined) {
							var acessoFilhos = $('a[idMenuPai=' + idMenu + ']');
							for (j = 0; j < acessoFilhos.length; j++) {
								acessoFilhos[j].text = 'close';
							}
							acessoFilhos.parent().find(':input').val('0');
							acessoFilhos.removeClass('md-icon-check');
							acessoFilhos.addClass('md-icon-times');
						}
					}
					i++;
				}
			}
			function alterarMenusIrmao(acesso) {
				var idAcesso = acesso[0].id;
				if (idAcesso.includes('acessar')) {
					var id = idAcesso.replace('acessar', '');
					alterarMenuIrmao(id, 'inserir', false);
					alterarMenuIrmao(id, 'alterar', false);
					alterarMenuIrmao(id, 'excluir', false);
				} else if (idAcesso.includes('inserir') || idAcesso.includes('alterar') || idAcesso.includes('excluir')) {
					var stringCorte = 'inserir';
					if (idAcesso.includes('alterar')) {
						stringCorte = 'alterar';
					} else if (idAcesso.includes('excluir')) {
						stringCorte = 'excluir';
					}
					var id = idAcesso.replace(stringCorte, '');
					alterarMenuIrmao(id, 'acessar', true);
				}
			}
			function alterarMenuIrmao(id, permissao, habilitar) {
				var acesso = $('#'+id+permissao);
				if (habilitar) {
					if (acesso[0] !== undefined) {
						acesso[0].text = 'done';
						acesso.parent().find(':input').val('1');					
						acesso.addClass('md-icon-check');
						acesso.removeClass('md-icon-times');
					}
				} else {
					if (acesso[0] !== undefined) {
						acesso[0].text = 'close';
						acesso.parent().find(':input').val('0');					
						acesso.addClass('md-icon-times');
						acesso.removeClass('md-icon-check');
					}
				}
			}
		//]]>
	</script>
	<div layout:include="./fragments/jsValidacao"></div>
</th:block>
</html>