<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
	<header id="header_main">
        <div class="header_main_content">
            <nav class="uk-navbar">
                <a href="#" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
                    <span class="sSwitchIcon"></span>
                </a>
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav user_actions">
                        
                        <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                            <a href="#" class="user_action_image">
                            	<img class="md-user-image" th:src="@{/img/avatars/user_fundo.png}"/>
                            	<span class="user-name" th:text="${#authentication.principal.usuario.primeiroNome}"></span>
                            	<span class="user-name-icon uk-icon-angle-down"></span>
                            </a>
                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav js-uk-prevent">
                                    <li><a th:href="@{/logout}" onclick="limparStorage()">Sair</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</html>