<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
	<div th:fragment="ordenacao(pagina, nome, campo)">
    	<a class="cabecalho" th:href="${pagina.urlOrdenada(campo)}" th:remove="${pagina.vazia} ? tag">
			<span th:text="${nome}"></span> <i class="material-icons" th:if="${!pagina.ordenada(campo)}">sort</i>
			<span class="uk-icon-angle-up" th:remove="${pagina.descendente(campo)} ? tag" th:if="${pagina.ordenada(campo)}">
				<span class="uk-icon-angle-down" th:remove="${!pagina.descendente(campo)} ? tag"></span>
			</span>
		</a>
    </div>
</html>