<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
	<div th:fragment="paginacao(pagina)">
		<div class="uk-grid">
			<div class="uk-width-medium-3-10 uk-margin-medium-top">
				<span th:text="${'Total: ' + pagina.total + ' Registros'}"></span>
			</div>
			<div class="uk-width-medium-4-10">
		        <ul class="uk-pagination uk-margin-medium-top" th:with="paginaAtual=${pagina.atual}">
		        	<li th:class="${pagina.primeira} ? uk-disabled">
						<a th:href="${pagina.primeiraPagina}" th:disabled="${pagina.primeira}" title="Primeira página" rel="tooltip" data-placement="bottom"><i class="uk-icon-angle-double-left" aria-hidden="true"></i></a>
					</li>
					<li th:class="${pagina.primeira} ? uk-disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:disabled="${pagina.primeira}" title="Página anterior" rel="tooltip" data-placement="bottom"><i class="uk-icon-angle-left" aria-hidden="true"></i></a>
					</li>
					<li class="uk-active">
						<span th:text="${pagina.atual + 1}"></span>
					</li>
					<li th:class="${pagina.ultima} ? uk-disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:disabled="${pagina.ultima}" title="Próxima página" rel="tooltip" data-placement="bottom"><i class="uk-icon-angle-right" aria-hidden="true"></i></a>
					</li>
					<li th:class="${pagina.ultima} ? uk-disabled">
						<a th:href="${pagina.ultimaPagina}" th:disabled="${pagina.ultima}" title="Última página" rel="tooltip" data-placement="bottom"><i class="uk-icon-angle-double-right" aria-hidden="true"></i></a>
					</li>
				</ul>
			</div>
			<div class="uk-width-medium-3-10 uk-margin-medium-top">
				<span class="uk-align-right" th:text="${'Página ' + (pagina.atual+1) + ' de ' + (pagina.totalPages == 0 ? '1' : pagina.totalPages)}"></span>
			</div>
		</div>
    </div>
</html>