<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

	<th:block layout:fragment="conteudo">    	
		<section class="content">
			<h3 class="heading_b uk-margin-bottom">Cargo EPI</h3>
			
			<div class="md-card">
                <div class="md-card-content large-padding">
                    <form id="form_validation" class="uk-form-stacked" method="POST" enctype="multipart/form-data" th:action="@{/cargoEpi/gravar}" th:object="${cargoEpi}">
                    	
                    	<div layout:include="./fragments/mensagem-erro"></div>
					                    
                    	<input type="hidden" id="id" th:field="*{id}"/>
                    	<input type="hidden" th:field="*{finalizado}"/>
                    	<input type="hidden" th:field="*{checksum}"/>
                    	<input type="hidden" th:field="*{checksumAlteracao}"/>
                    
                        <div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
                        	<div class="uk-width-medium-1-4">
                                <div class="uk-form-row parsley-row">
									<label for="dataInicio">Data de Início <span class="req">*</span></label>
                                   	<input id="dataInicio" class="md-input input_dataInicio" required="required" type="text" th:field="*{dataInicioString}" th:disabled="*{finalizado}"  />
								</div>
							</div>
							<div class="uk-width-medium-1-4	">
                                <div class="uk-form-row parsley-row">
									<label for="dataFim">Data de Fim</label>
                                   	<input id="dataFim" class="md-input input_dataFim" type="text" th:field="*{dataFimString}" th:disabled="*{finalizado}" />
								</div>
							</div>
						</div>

						<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                    <label for="empresaCombo">Empresa <span class="req">*</span></label>
                                    <select id="empresaCombo" class="md-input input_combo" th:field="*{idEmpresa}" data-parsley-combo="data-parsley-combo" th:readonly="*{finalizado or id != null}" ></select>
                                </div>
							</div>
							
							<div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                    <label for="setorCombo">Setor <span class="req">*</span></label>
                                    <select id="setorCombo" class="md-input input_combo" th:field="*{idSetor}" data-parsley-combo="data-parsley-combo" th:readonly="*{finalizado or id != null}" ></select>
                                </div>
							</div>
							
							<div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                    <label for="cargoCombo">Cargo <span class="req">*</span></label>
                                    <select id="cargoCombo" class="md-input input_combo" th:field="*{idCargo}" data-parsley-combo="data-parsley-combo" th:readonly="*{finalizado or id != null}" ></select>
                                </div>
							</div>
							
							<div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                    <label for="epiCombo">EPI <span class="req">*</span></label>
                                    <select id="epiCombo" class="md-input input_combo" th:field="*{idEpi}" data-parsley-combo="data-parsley-combo" th:readonly="*{finalizado or id != null}" >
                                		<option th:each="epi : ${episCombo}" th:value="${epi.key}" th:text="${epi.label}"></option>
                            		</select>
                                </div>
							</div>

							<div class="uk-width-medium-1-10">
                                <div class="uk-form-row parsley-row">
									<label for="quantidade">Quantidade <span class="req">*</span></label>
   									<input type="number" min="1" class="md-input input-numeric" th:field="*{quantidade}" style="text-align: right;" th:disabled="*{finalizado}" />
								</div>
							</div>

                           	<div class="uk-width-medium-1-1 uk-margin-medium-top">
								<div class="uk-form-row">
									<label class="label-req"><span class="req">*</span> Campos obrigatórios</label> 
								</div>
							</div>
						</div>
                        <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-1-1 uk-text-center">
								<button type="submit" class="md-btn md-btn-success md-btn-flat-primary btnGravar">Gravar</button>
                                <a th:href="@{/cargoEpi}" type="button" class="md-btn md-btn-danger uk-modal-close">Cancelar</a>
							</div>
						</div>
						<div th:if="${modalConfirmacao}">
							<script th:inline="javascript">
								$(function() {
									var modalConfirmacao = /*[[${modalConfirmacao}]]*/;
									var msgConfirmacao = /*[[${msgConfirmacao}]]*/;
									if (modalConfirmacao) {
										$('#cargoEpiConfirmacao').on('show.uk.modal', function(event) {
											$('#cargoEpiConfirmacao').find('span').html(msgConfirmacao);
										});
										abrirModal('cargoEpiConfirmacao');
									}
								});
							</script>
						</div>
						<script th:inline="javascript">
							var idEmpresa = [[${cargoEpi.idEmpresa}]]
							var idCargo = [[${cargoEpi.idCargo}]]
							var idSetor = [[${cargoEpi.idSetor}]]
						</script>
                    </form>
                </div>
            </div>
            <div layout:include="./cadastros/cargoEpi/cargoEpi-confirmacaoModal"></div>
		</section>
		<div layout:include="./fragments/jsValidacao"></div>
		<script th:src="@{/js/componentes/empresaCombo.js}"></script>
		<script th:src="@{/js/componentes/setorCombo.js}"></script>
		<script th:src="@{/js/componentes/cargoCombo.js}"></script>
		<script th:src="@{/js/cadastros/cargoEpi.js}"></script>
		<script th:src="@{/js/loader.js}"></script>
		<script th:inline="javascript">
		 	//<![CDATA[
				$(function() {
					formatarCamposData($('.input_dataInicio'));
					formatarCamposData($('.input_dataFim'));
				});
			//]]>
		</script>
	</th:block>
</html>