a.cabecalho {
	font-style: normal;
    font-weight: 400;
    color: #727272;
    font-size: 14px;
}

td.table-empty {
	padding: 50px;
}

span.user-name {
	margin-left: 5px;
}

span.user-name-icon {
	margin-left: 5px;
	color: #fff;
}

.uk-pagination li a[disabled="disabled"] {
	pointer-events: none;
	opacity: 0.6;
}

.msg-erro {
	padding-bottom: 20px;
}

.uk-inline.input-search {
	display: flex;
}

.uk-inline.input-search .md-input-wrapper {
	display: table;
}

.uk-inline.input-search .input-icon-search {
	left: -5px;
    position: relative;
}

.login_heading.logo {
    margin-bottom: 15px;
}

.login_heading.logo div {
	margin-top: 10px;
	font-size: 25px;
	font-weight: 500;
}

.login_eye_pass {
	font-size: 22px;
    float: right;
    margin-left: -25px;
    margin-top: -33px;
    position: relative;
    z-index: 2;
    color: #727272;
    cursor: pointer;
}

.sidebar_logo {
	height: 55px !important;
    line-height: 55px !important;
}

.sidebar_logo span {
	font-size: 18px;
	color: #444;
	margin-left: 5px;
}

.nao_cadastrado {
	color: #e53935;
}

.no-display {
	display: none;
}

.md-card-filter {
	margin-bottom: -10px;
}

.md-card-filter-title {
	color: #444;
}

.uk-grid-list {
	padding-bottom: 15px;
}

.btn-print-dropdown {
	background: #2196f3!important;
	color: #fff!important;
}

.btn-print-icon-dropdown {
	color: #fff!important;
}

.combo-label {
	color: #727272;
	font-weight: 400 !important;
}

.combo-width {
	width: 100%;
}

.label-input-disabled {
	color: #727272 !important;
}

.uk-input-group.range {
	width: 100%;
}

.md-icon-check {
	color: #629b58!important;
	text-decoration: none;
	font-weight: 600;
}

.md-icon-times {
	color: #e53935!important;
	text-decoration: none;
	font-weight: 600;
}

label.label-req {
	font-weight: 500;
}

label span.req {
	color:#ff0600;
	font-weight: 500;
}

a[disabled="disabled"] {
	pointer-events: none;
	opacity: 0.6;
}

span[disabled="disabled"] {
	pointer-events: none;
	opacity: 0.6;
}

i[disabled="disabled"] {
	pointer-events: none;
	opacity: 0.6;
}

.center {
	text-align:center	
}

.icon-help {
	font-size: 23px;
    color: #1976d2!important;
    cursor: default;
}

.page_loader {
	background: #000;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
	opacity: 0.65;
	z-index:99999
}

.content-preloader.preloader-active {
	z-index: 99999;
}

.input_date_picker {
	color: rgba(0, 0, 0, 0.87) !important;
	height: 43px !important	
}

.vida_util_combo .selectize_fix {
	display:none;
}

.icon-search {
	font-size: 24px;
	cursor: pointer;
    position: absolute;
    right: 8px;
    top: 16px;
}

.icon-status {
	font-size:24px;
	cursor:default;
	position: absolute;
    right: 8px;
    top: 16px;
}

.list-status {
	width: 125px;
	font-size: 13px;
    padding: 5px;
    border-radius: 2px;
}

.md-card-title {
	padding-bottom: 35px;
}

.md-icon-entrega {
	color: #1976d2;
	font-size: 24px;
	cursor: default;
}

.check-entrega {
	cursor:pointer;
	min-width: 18px;
    min-height: 18px;
}

.table-empresasVinculadas table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-empresasVinculadas td, th {
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

.table-empresasVinculadas tr:nth-child(even) {
  background-color: #e9e9e9;
}

@media(max-width:768px) {
	.label-data-range {
		text-align: left!important;
	}
}

@media(max-width:876px) {
	.uk-btn-acoes {
		padding-left: 0px!important;
	}
}

#sidebar_main {
	border-color: #c7c7c7;
}

#sidebar_main .active {
	background: #eaeaea;
}

#sidebar_main .active .active {
	background: #d4d4d4;
}

#sidebar_main .active .active .active {
	background: #eaeaea;
}

#sidebar_main .active>a  {
	color: #212121!important; 
}

#sidebar_main .active>a>span  {
	color: #212121!important; 
}

#sidebar_main .active>a>span>i  {
	color: #212121!important; 
}

#sidebar_main .menu_active  {
	background: #1976d2;
}

#sidebar_main .menu_active>a  {
	color: #ffffff!important; 
}

#sidebar_main .menu_active>a>span  {
	color: #ffffff!important; 
}

#sidebar_main .menu_active>a>span>i  {
	color: #ffffff!important; 
}

#sidebar_main .menu_section>ul>li.submenu_trigger li ul {
	margin-left: 0px;
}

#sidebar_main .menu_section>ul>li.submenu_trigger li ul > li > a {
	margin-left: 16px;
}

#sidebar_main .dex_sidebar {
	background: #1976d2;
	height: 48px;
}

#sidebar_main .dex_sidebar .sidebar_logo a>img {
	padding-bottom: 7px;
}

#sidebar_main .dex_sidebar .sidebar_logo a>span {
	color: #ffffff;
}

.detalhesEntrega.md-list>li {
	border-bottom: 0px solid rgba(0,0,0,0);
}

.dashboard-card-icon {
	font-size: 35px;
}

.dashboard-card-status {
	height: 427px;
}

.dashboard-list-status-entrega>li {
    margin-left: 0px;
}

.dashboard-list-status-entrega>li {
    margin-left: 0px;
}

.dashboard-text-status-entrega {
	text-align:right	
}

select[readonly] {
  color: rgb(170,170,170);
  pointer-events: none;
  touch-action: none;
}

.uk-sem-senha {
	cursor: pointer;
}