<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

	<div th:fragment="listaContato">
		<div id="contatos">
			<input id="contatosToString" type="hidden" th:name="contatosToString" th:value="${contatosToString}" />
	
			<div class="uk-grid uk-grid-list" data-uk-grid-margin="data-uk-grid-margin">
				<div class="uk-width-medium-1-1">
					<a onclick="adicionarContato();" class="md-btn md-btn-success"> 
						<span th:text="Incluir"></span>
					</a>
				</div>
			</div>
			<div class="uk-overflow-container tabela">
				<table id="tblContato" class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair">
					<thead>
						<tr>
							<th class="uk-width-2-10">Tipo</th>
							<th class="uk-width-6-10">Contato</th>
							<th class="uk-width-1-10 uk-text-center">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item,linha : ${#strings.listSplit(contatosToString, T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).ITENS.key)}" th:if="${#strings.arraySplit((#strings.arraySplit(item, T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).INFORMACAO.key)[2]), T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).ACAO.key)[1]} != ${T(br.com.dh.dexSystem.model.constant.AcaoCadastroEnum).EXCLUIR.key}">
							<td th:text="${#strings.arraySplit(item, T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).INFORMACAO.key)[1]} != 'NULL' ? ${#strings.arraySplit(item, T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).INFORMACAO.key)[0]} + ' - ' + ${#strings.arraySplit(item, T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).INFORMACAO.key)[1]} : ${#strings.arraySplit(item, T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).INFORMACAO.key)[0]}"></td>
							<td th:text="${#strings.arraySplit((#strings.arraySplit(item, T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).INFORMACAO.key)[2]), T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).ACAO.key)[0]}"></td>
							<td class="uk-text-center">
								<a th:onclick="'alterarContato(\'' + ${item} + '\');'" data-uk-tooltip="data-uk-tooltip" title="Editar">
									<i class="md-icon material-icons">edit</i>
								</a>
								<a th:onclick="'excluirContato(\'' + ${item} + '\');'" data-uk-tooltip="data-uk-tooltip" title="Excluir">
									<i class="md-icon material-icons">delete</i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="uk-grid">
				<div class="uk-width-medium-3-10 uk-margin-medium-top">
					<span id="tblTotal">Registros</span>
				</div>
			</div>
			<script th:inline="javascript">
				var cont = $('#tblContato tr').length - 1;
				$('#tblContato tr:nth-child(even)').addClass('even');
				$('#tblContato tr:nth-child(odd)').addClass('odd');
				$('#tblTotal').text("Total: " + cont + (cont == 1 ? " Registro" : " Registros"));
				if (cont == 0) {
					$('#tblContato > tbody').append('<tr><td class="uk-text-center table-empty" colspan="3"><span>Nenhum registro encontrado</span></td></tr>');
				}
			</script>
		</div>
	</div>
</html>