<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div id="cadastroContato" class="uk-modal" aria-hidden="true" style="display: none; overflow-y: auto;">
		<div class="uk-modal-dialog" style="top: 115px;">
			<form id="formCadastroContato" class="uk-form-stacked" method="POST" action="cadastrar">
				<div class="uk-modal-header">
					<h3 class="uk-modal-title">Cadastro de Contato</h3>
				</div>
				<div id="msgErro">
					<div class="uk-alert uk-alert-danger" style="margin-top:-12px;margin-bottom: 25px;" data-uk-alert="data-uk-alert" th:if="${msgErro != null}">
						<span th:text="${msgErro}"></span>
					</div>
				</div>
				<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
				
					<input type="hidden" id="contatoOriginal" />
				
               		<div class="uk-width-medium-1-3">
                		<div class="uk-form-row parsley-row" style="margin-top:-2px;">
                        	<label for="tipoCombo">Tipo <span class="req">*</span></label>
                        	<select id="tipoCombo" class="md-input"></select>
                        </div>
					</div>
  					<div class="uk-width-medium-2-3">
                		<div id="tipoOutroDisplay" class="uk-form-row parsley-row no-display">
							<label for="tipoOutro">Descrição do Tipo </label>
                           	<input name="tipoOutro" id="tipoOutro" class="md-input"  />
						</div>
					</div>
					<div class="uk-width-medium-1-1" style="margin-top: 24px;">
                    	<div class="uk-form-row parsley-row">
                        	<label for="contato">Contato <span class="req">*</span></label>
                            <input name="contato" id="contato" required="required" class="md-input" autofocus="autofocus"  />
						</div>
					</div>
				</div>
				<div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="data-uk-grid-margin">
					<div class="uk-width-1-1 uk-text-center">
						<button type="submit" class="md-btn md-btn-success md-btn-flat-primary btnGravar">Gravar</button>
                        <a type="button" class="md-btn md-btn-danger uk-modal-close">Cancelar</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script th:inline="javascript">
		var tipoTelefone = /*[[${T(br.com.dh.dexSystem.model.constant.TipoContatoEnum).TELEFONE.key}]]*/;
		var tipoEmail = /*[[${T(br.com.dh.dexSystem.model.constant.TipoContatoEnum).EMAIL.key}]]*/;
		var tipoOutro = /*[[${T(br.com.dh.dexSystem.model.constant.TipoContatoEnum).OUTRO.key}]]*/;
		
		var sepItem = /*[[${T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).ITENS.key}]]*/;
		var sepInfo = /*[[${T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).INFORMACAO.key}]]*/;
		var sepAcao = /*[[${T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).ACAO.key}]]*/;
		var acaoExcluir = /*[[${T(br.com.dh.dexSystem.model.constant.AcaoCadastroEnum).EXCLUIR.key}]]*/;
	</script>
</html>
