<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/layout-padrao">

<th:block layout:fragment="conteudo">
	<link rel="stylesheet" type="text/css" th:href="@{/plugins/c3/c3.css}" media="all"/>
    
    <section class="content">
		<h3 class="heading_b uk-margin-bottom">Dashboard</h3>
		
		<div layout:include="./fragments/mensagem"></div>
		
		<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
			<div class="uk-width-medium-1-1">
				<div class="md-card md-card-filter md-card-collapsed" >
					<div class="md-card-toolbar">
						<div class="md-card-toolbar-actions">
							<i class="md-icon material-icons md-card-toggle">keyboard_arrow_down</i>
						</div>
						<h3 class="md-card-toolbar-heading-text md-card-filter-title">
							FILTRAR EMPRESA
	                   </h3>
					</div>
					<div class="md-card-content" style="display:none" >
						<div class="uk-grid uk-grid-divider" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-1-1">
								<select id="empresaCombo" class="md-input input_combo list" data-parsley-combo="data-parsley-combo" ></select>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="uk-width-medium-1-4">
				<div class="md-card">
					<a th:href="@{/empregado}">
						<div class="md-card-content">
							<div class="uk-float-right uk-margin-top uk-margin-small-right">
								<i class="material-icons dashboard-card-icon md-color-green-600">people_alt</i>
							</div>
							<span class="uk-text-muted uk-text-small">Total de empregados ativos</span>
							<h2 class="uk-margin-remove"><span id="total_empregados" class="countUpMe">0</span></h2>
						</div>
					</a>
				</div>
			</div>
			<div class="uk-width-medium-1-4">
				<div class="md-card">
					<a th:href="@{/epi}">
						<div class="md-card-content">
							<div class="uk-float-right uk-margin-top uk-margin-small-right">
								<i class="material-icons dashboard-card-icon md-color-red-400">security</i>
							</div>
							<span class="uk-text-muted uk-text-small">Total de EPIs cadastrados</span>
							<h2 class="uk-margin-remove"><span id="total_epis" class="countUpMe">0</span></h2>
						</div>
					</a>
				</div>
			</div>
			<div class="uk-width-medium-1-4">
				<div class="md-card">
					<div class="md-card-content">
						<div class="uk-float-right uk-margin-top uk-margin-small-right">
							<i class="material-icons dashboard-card-icon md-color-blue-500">trending_up</i>
						</div>
						<span class="uk-text-muted uk-text-small">Total de entregas realizadas</span>
						<h2 class="uk-margin-remove"><span id="total_entregas" class="countUpMe">0</span></h2>
					</div>
				</div>
			</div>
			<div class="uk-width-medium-1-4">
				<div class="md-card">
					<div class="md-card-content">
						<div class="uk-float-right uk-margin-top uk-margin-small-right">
							<i class="material-icons dashboard-card-icon md-color-cyan-800">trending_up</i>
						</div>
						<span class="uk-text-muted uk-text-small">Total de EPIs entregues</span>
						<h2 class="uk-margin-remove"><span id="total_epis_entregues" class="countUpMe">0</span></h2>
					</div>
				</div>
			</div>
			
			<div class="uk-width-medium-1-3">
            	<div class="md-card dashboard-card-status">
                	<div class="md-card-content">
                		<h4 class="heading_c uk-margin-bottom">Situação das entregas</h4>
						<div id="status_entregas"></div>
					</div>
				</div>
			</div>
			<div class="uk-width-medium-1-3">
            	<div class="md-card dashboard-card-status">
                	<div class="md-card-content">
                		<h4 class="heading_c uk-margin-bottom">Situação dos EPIs cadastrados</h4>
						<div id="chart_situacao_epis"></div>
					</div>
				</div>
			</div>
			<div class="uk-width-medium-1-3">
            	<div class="md-card dashboard-card-status">
                	<div class="md-card-content">
                		<h4 class="heading_c uk-margin-bottom">Top 5 EPIs mais utilizados</h4>
						<div id="chart_epis_utilizados"></div>
					</div>
				</div>
			</div>
			
			<div class="uk-width-medium-1-1">
            	<div class="md-card">
                	<div class="md-card-content">
                		<h4 id="chart_entregas_label" class="heading_c uk-margin-bottom">Total de entregas realizadas x Total de EPIs entregues no ano</h4>
						<div id="chart_entregas"></div>
					</div>
				</div>
			</div>
		</div>
		<script th:src="@{/plugins/c3/d3.v3.min.js}"></script>
		<script th:src="@{/plugins/c3/c3.min.js}"></script>
		<script th:src="@{/js/dashboard.js}"></script>
	</section>
	<script th:src="@{/js/componentes/empresaCombo.js}"></script>
</th:block>
</html>