<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

	<th:block layout:fragment="conteudo">    	
		<section class="content">
			<h3 class="heading_b uk-margin-bottom">Parâmetros do Sistema</h3>
			
			<div class="md-card">
                <div class="md-card-content large-padding">
                    <form id="form_validation" class="uk-form-stacked" method="POST" enctype="multipart/form-data" th:action="@{/parametroSistema/gravar}" th:object="${parametroSistema}">
                    	<div class="md-card-title">
							<h3 class="heading_a"> Configuração de exibição
								<span class="sub-heading">Configure como você deseja que os cadastros abaixo apareçam nos campos de seleção.</span>
							</h3>
						</div>
                    	
                    	<input type="hidden" id="id" th:field="*{id}"/>
                    	<input type="hidden" th:field="*{checksum}"/>
                    	<input type="hidden" th:field="*{checksumAlteracao}"/>
                    
                        <div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-medium-1-4">
                                <div class="uk-form-row parsley-row">
                                    <label for="tipoSelecaoEmpresaCombo">Empresa </label>
                                    <select id="tipoSelecaoEmpresaCombo" class="md-input input_combo" th:field="*{selecaoEmpresa}" >
                                		<option th:each="tipo : ${tipoSelecaoEmpresaCombo}" th:value="${tipo.key}" th:text="${tipo.label}"></option>
                            		</select>
                                </div>
							</div>
							
							<div class="uk-width-medium-1-4">
                                <div class="uk-form-row parsley-row">
                                    <label for="tipoSelecaoPessoaFisicaCombo">Pessoa Física </label>
                                    <select id="tipoSelecaoPessoaFisicaCombo" class="md-input input_combo" th:field="*{selecaoPessoaFisica}" >
                                		<option th:each="tipo : ${tipoSelecaoPessoaFisicaCombo}" th:value="${tipo.key}" th:text="${tipo.label}"></option>
                            		</select>
                                </div>
							</div>
							
							<div class="uk-width-medium-1-4">
                                <div class="uk-form-row parsley-row">
                                    <label for="tipoSelecaoEmpregadoCombo">Empregado </label>
                                    <select id="tipoSelecaoEmpregadoCombo" class="md-input input_combo" th:field="*{selecaoEmpregado}" >
                                		<option th:each="tipo : ${tipoSelecaoEmpregadoCombo}" th:value="${tipo.key}" th:text="${tipo.label}"></option>
                            		</select>
                                </div>
							</div>
							
							<div class="uk-width-medium-1-4">
                                <div class="uk-form-row parsley-row">
                                    <label for="tipoSelecaoEpiCombo">EPI </label>
                                    <select id="tipoSelecaoEpiCombo" class="md-input input_combo" th:field="*{selecaoEpi}" >
                                		<option th:each="tipo : ${tipoSelecaoEpiCombo}" th:value="${tipo.key}" th:text="${tipo.label}"></option>
                            		</select>
                                </div>
							</div>
						</div>
						
						<br/><br/><br/>
						<div class="md-card-title">
							<h3 class="heading_a"> Configuração de entrega de EPIs</h3>
						</div>
						<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-medium-1-4">
                                <div class="uk-form-row parsley-row">
                                    <label for="parametroMotivoCombo">Informar motivo na Entrega/Devolução</label>
                                    <select id="parametroMotivoCombo" class="md-input input_combo" th:field="*{informarMotivo}">
                                		<option th:each="tipo : ${informarMotivoCombo}" th:value="${tipo.key}" th:text="${tipo.label}"></option>
                            		</select>
                                </div>
							</div>
						</div>
						
						<br/><br/><br/>
						<div class="md-card-title">
							<h3 class="heading_a"> Configuração da Ficha de EPI</h3>
						</div>
						<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-medium-1-1">
                                <div class="uk-form-row parsley-row">
                                    <label for="txtFichaEpi">Configure o texto emitido na Ficha de EPI</label>
                                    <textarea cols="30" rows="4" class="md-input" th:field="*{textoFichaEpi}" ></textarea>
                                </div>
                                <div style="padding-top:5px">
                                	<a onclick="abrirModal('tagModal')">Clique aqui para visualizar as tags disponíveis</a>
                                </div>
							</div>
						</div>
						
                        <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-1-1 uk-text-center">
								<button type="submit" class="md-btn md-btn-success md-btn-flat-primary btnGravar">Gravar</button>
                                <a th:href="@{/parametroSistema}" type="button" class="md-btn md-btn-danger uk-modal-close">Cancelar</a>
							</div>
						</div>
                    </form>
                </div>
            </div>
            <div layout:include="./cadastros/parametroSistema/parametroSistema-tagModal"></div>
		</section>
	</th:block>
</html>