<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

	<th:block layout:fragment="conteudo">
		<section class="content">
	
			<h3 class="heading_b uk-margin-bottom">Grades de Tamanho</h3>
	
			<form method="GET" th:object="${gradeFilter}">
				<div class="md-card uk-margin-medium-bottom">
					<div class="md-card-content">
						<div layout:include="./fragments/mensagem"></div>
					
						<div class="uk-grid uk-grid-list" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-medium-1-2">
								<a th:href="@{/grade/novo}" th:if="${!bloquearInsercao}" class="md-btn md-btn-success"> 
									<span th:text="Incluir"></span>
								</a>
							</div>
							
							<div class="uk-width-medium-1-2">
	 							<div class="uk-margin">
							        <div class="uk-inline input-search">
		                            	<input id="pesquisar" type="text" class="md-input" placeholder="Pesquisar" th:field="*{pesquisa}"/>
		                            	<button id="btnSearch" type="submit" class="md-icon material-icons input-icon-search">search</button>
		                            	
		                            	<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" style="margin-top:10px">
			                                <a class="md-icon material-icons">more_vert</a>
			                                <div class="uk-dropdown">
			                                    <ul class="uk-nav uk-nav-dropdown">
			                                    	<li class="uk-nav-header">Exportar</li>
			                                    	<li class="uk-nav-divider"></li>
			                                        <li><a th:href="@{/grade/downloadPdf}" target="_blank">PDF</a></li>
			                                    </ul>
			                                </div>
			                            </div>
							        </div>
							    </div>
							</div>
	                     </div>
						
						<div class="uk-overflow-container tabela">
							<table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair">
								<thead>
									<tr>
										<th class="uk-width-8-10"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome=Nome, campo='nome')"></div></th>
										<th class="uk-width-1-10 uk-text-center"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome=ID, campo='id')"></div></th>
										<th class="uk-width-1-10 uk-text-center" th:if="${!bloquearAlteracao or !bloquearExclusao}">Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="grade,linha : ${pagina.conteudo}" th:class="${linha.even} ? 'odd' : 'even'">
										<td th:text="${grade.nome}"></td>
										<td class="uk-text-center" th:text="${grade.id}"></td>
										<td class="uk-text-center" th:if="${!bloquearAlteracao or !bloquearExclusao}">
						                    <a th:href="@{/grade/editar/{codigo}(codigo=${grade.id})}" th:if="${!bloquearAlteracao}" data-uk-tooltip="data-uk-tooltip" title="Editar">
						                    	<i class="md-icon material-icons">edit</i>
						                    </a>
						                    <a th:onclick="'excluir(\'' + @{/grade/excluir/{codigo}(codigo=${grade.id})} + '\');'" th:if="${!bloquearExclusao}" data-uk-tooltip="data-uk-tooltip" title="Excluir">
						                    	<i class="md-icon material-icons">delete</i>
						                    </a>
						                </td>
									</tr>
									<tr th:if="${pagina.vazia}">
										<td class="uk-text-center table-empty" colspan="5"><span>Nenhum registro encontrado</span></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div th:replace="fragments/paginacao :: paginacao(pagina=${pagina})"></div>
					</div>
				</div>
			</form>
		</section>
	</th:block>
</html>