<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

<th:block layout:fragment="conteudo">
	<section class="content">
		<h3 class="heading_b uk-margin-bottom">Grade de Tamanho</h3>

		<div class="md-card">
			<div class="md-card-content ">
				<form id="form_validation" class="uk-form-stacked" method="POST" enctype="multipart/form-data" th:action="@{/grade/gravar}" th:object="${grade}">
					<div class="uk-grid">
						<div class="uk-width-1-1">
							<ul class="uk-tab" data-uk-tab="{connect:'#grade_tabs'}" id="tabs">
								<li id="abaCadastro" class="uk-active" aria-expanded="true"><a href="#">Cadastro</a></li>
								<li id="abaItens" aria-expanded="false"><a href="#">Tamanhos</a></li>
							</ul>
							<ul id="grade_tabs" class="uk-switcher uk-margin">
								<li aria-hidden="false" class="uk-active">
									<div class="md-card-content ">
										<div layout:include="./fragments/mensagem-erro"></div>

										<input type="hidden" th:field="*{id}" />
										<input type="hidden" th:field="*{checksum}"/>
                    					<input type="hidden" th:field="*{checksumAlteracao}"/>

										<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
											<div class="uk-width-medium-1-1">
												<div class="uk-form-row parsley-row">
													<label for="nome">Nome <span class="req">*</span></label> 
													<input name="nome" id="nome" required="required" class="md-input" autofocus="autofocus" th:field="*{nome}" />
												</div>
											</div>

											<div class="uk-width-medium-1-1 uk-margin-medium-top">
												<div class="uk-form-row">
													<label class="label-req"><span class="req">*</span> Campos obrigatórios</label>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li aria-hidden="true" class="">
									<div class="md-card-content" id="gradeItens">

										<input type="hidden" th:field="${grade.itensToString}" />

										<div class="uk-grid uk-grid-list" data-uk-grid-margin="data-uk-grid-margin">
											<div class="uk-width-medium-1-1">
												<a onclick="adicionarItem();" class="md-btn md-btn-success"> 
													<span th:text="Incluir"></span>
												</a>
											</div>
										</div>
										<div class="uk-overflow-container tabela">
											<table id="tblGradeItem" class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair">
												<thead>
													<tr>
														<th class="uk-width-7-10">Tamanho</th>
														<th class="uk-width-1-10 uk-text-center">Ordem</th>
														<th class="uk-width-1-10 uk-text-center">Ações</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="item,linha : ${#strings.listSplit(grade.itensToString, T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).ITENS.key)}" th:if="${#strings.arraySplit((#strings.arraySplit(item, T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).INFORMACAO.key)[1]), T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).ACAO.key)[1]} != ${T(br.com.dh.dexSystem.model.constant.AcaoCadastroEnum).EXCLUIR.key}">
														<td th:text="${#strings.arraySplit(item, T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).INFORMACAO.key)[0]}"></td>
														<td class="uk-text-center" th:text="${#strings.arraySplit((#strings.arraySplit(item, T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).INFORMACAO.key)[1]), T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).ACAO.key)[0]}"></td>
														<td class="uk-text-center">
															<a th:onclick="'alterarItem(\'' + ${item} + '\');'" data-uk-tooltip="data-uk-tooltip" title="Editar">
																<i class="md-icon material-icons">edit</i>
															</a>
															<a th:onclick="'excluirItem(\'' + ${item} + '\');'" data-uk-tooltip="data-uk-tooltip" title="Excluir">
																<i class="md-icon material-icons">delete</i>
															</a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="uk-grid">
											<div class="uk-width-medium-3-10 uk-margin-medium-top">
												<span id="tblTotal">Registros</span>
											</div>
										</div>
										<script th:inline="javascript">
								            var id = /*[[${grade.id}]]*/;
											var nome = /*[[${grade.nome}]]*/;
											var itensToString = /*[[${grade.itensToString}]]*/;
											var grade = {
												id: id,
												nome: nome,
												itensToString: itensToString
											};
											var cont = $('#tblGradeItem tr').length - 1;
											$('#tblGradeItem tr:nth-child(even)').addClass('even');
											$('#tblGradeItem tr:nth-child(odd)').addClass('odd');
											$('#tblTotal').text("Total: " + cont + (cont == 1 ? " Registro" : " Registros"));
											if (cont == 0) {
												$('#tblGradeItem > tbody').append('<tr><td class="uk-text-center table-empty" colspan="3"><span>Nenhum registro encontrado</span></td></tr>');
											}
										</script>
									</div>
								</li>
							</ul>
							<div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="data-uk-grid-margin">
								<div class="uk-width-1-1 uk-text-center">
									<button type="submit" class="md-btn md-btn-success md-btn-flat-primary btnGravar">Gravar</button>
									<a th:href="@{/grade}" type="button" class="md-btn md-btn-danger uk-modal-close">Cancelar</a>
								</div>
							</div>
						</div>
						<div th:if="${modalConfirmacao} or ${modalAlerta}">
							<script th:inline="javascript">
								$(function() {
									var modalConfirmacao = /*[[${modalConfirmacao}]]*/;
									var modalAlerta = /*[[${modalAlerta}]]*/;
									if (modalConfirmacao) {
										abrirModal('gradeConfirmacao');
									} else if (modalAlerta) {
										$('#alertaModal').on('show.uk.modal', function(event) {
											var msg = '<label style="font-size:16px">Para gravar a grade é necessário incluir pelo menos um tamanho!</label><br/>'+
													  '<label style="font-weight:300;">Clique na aba TAMANHOS, inclua um tamanho e grave novamente.</label>';
											$('#alertaModal').find('span').html(msg);
										});
										abrirModal('alertaModal');										
									}
								});
							</script>
						</div>
					</div>
				</form>
			</div>
		</div>
		<script th:inline="javascript">
			var sepItem = /*[[${T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).ITENS.key}]]*/;
			var sepInfo = /*[[${T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).INFORMACAO.key}]]*/;
			var sepAcao = /*[[${T(br.com.dh.dexSystem.model.constant.DelimitadorEnum).ACAO.key}]]*/;
			var acaoExcluir = /*[[${T(br.com.dh.dexSystem.model.constant.AcaoCadastroEnum).EXCLUIR.key}]]*/;
		</script>
		<div layout:include="./cadastros/grade/item/gradeItem-cadastroModal"></div>
		<div layout:include="./cadastros/grade/grade-confirmacaoModal"></div>
		<div layout:include="./modal/confirmaExclusaoJSModal"></div>
		<div layout:include="./modal/alertaModal"></div>
	</section>
	<div layout:include="./fragments/jsValidacao"></div>
	<script th:src="@{/js/cadastros/grade.js}"></script>
</th:block>
</html>