<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

	<th:block layout:fragment="conteudo">    	
		<section class="content">
			<h3 class="heading_b uk-margin-bottom">Unidade de Medida</h3>
			
			<div class="md-card">
                <div class="md-card-content large-padding">
                    <form id="form_validation" class="uk-form-stacked" method="POST" enctype="multipart/form-data" th:action="@{/unidadeMedida/gravar}" th:object="${unidadeMedida}">
                    
                    	<div layout:include="./fragments/mensagem-erro"></div>
                    
                    	<input type="hidden" th:field="*{id}"/>
                    	<input type="hidden" th:field="*{checksum}"/>
                    	<input type="hidden" th:field="*{checksumAlteracao}"/>
                    
                        <div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
                            <div class="uk-width-medium-1-1">
                                <div class="uk-form-row parsley-row">
                                    <label for="descricao">Descrição <span class="req">*</span></label>
                                    <input name="descricao" id="descricao" required="required" class="md-input" autofocus="autofocus" th:field="*{descricao}" />
                                </div>
							</div>
							
                           	<div class="uk-width-medium-1-1 uk-margin-medium-top">
								<div class="uk-form-row">
									<label class="label-req"><span class="req">*</span> Campos obrigatórios</label> 
								</div>
							</div>
                        </div>
                        <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-1-1 uk-text-center">
								<button type="submit" class="md-btn md-btn-success md-btn-flat-primary btnGravar">Gravar</button>
                                <a th:href="@{/unidadeMedida}" type="button" class="md-btn md-btn-danger uk-modal-close">Cancelar</a>
							</div>
						</div>

						<div th:if="*{abrirModalConfirmacao}">
							<script th:inline="javascript">
								$(function() {
									UIkit.modal("#unidadeMedidaConfirmacao").show();
								});
							</script>
						</div>
                    </form>
                </div>
            </div>
            <div layout:include="./cadastros/unidadeMedida/unidadeMedida-modalConfirmacao"></div>
		</section>
		<div layout:include="./fragments/jsValidacao"></div>
	</th:block>
</html>