<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

	<th:block layout:fragment="conteudo">    	
		<section class="content">
			<h3 class="heading_b uk-margin-bottom">Cargo</h3>
			
			<div class="md-card">
                <div class="md-card-content large-padding">
                    <form id="form_validation" class="uk-form-stacked" method="POST" enctype="multipart/form-data" th:action="@{/cargo/gravar}" th:object="${cargo}">
                    	
                    	<div layout:include="./fragments/mensagem-erro"></div>
					                    
                    	<input type="hidden" id="id" th:field="*{id}"/>
                    	<input type="hidden" th:field="*{finalizado}"/>
                    	<input type="hidden" th:field="*{checksum}"/>
                    	<input type="hidden" th:field="*{checksumAlteracao}"/>
                    
                        <div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
                        	<div class="uk-width-medium-1-4">
                                <div class="uk-form-row parsley-row">
									<label for="dataInicio">Data de Início <span class="req">*</span></label>
                                   	<input id="dataInicio" class="md-input input_dataInicio" required="required" type="text" th:field="*{dataInicioString}"  />
								</div>
							</div>
							<div class="uk-width-medium-1-4	">
                                <div class="uk-form-row parsley-row">
									<label for="dataFim">Data de Fim</label>
                                   	<input id="dataFim" class="md-input input_dataFim" type="text" th:field="*{dataFimString}" />
								</div>
							</div>
						</div>

						<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                    <label for="empresaCombo">Empresa <span class="req">*</span></label>
                                    <select id="empresaCombo" class="md-input input_combo" th:field="*{idEmpresa}" data-parsley-combo="data-parsley-combo" th:readonly="*{id != null}" ></select>
                                </div>
							</div>
							
							<div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                    <label for="setorCombo">Setor <span class="req">*</span></label>
                                    <select id="setorCombo" class="md-input input_combo" th:field="*{idSetor}" data-parsley-combo="data-parsley-combo" th:readonly="*{id != null}" ></select>
                                </div>
							</div>
						
							<div class="uk-width-medium-1-1">
                                <div class="uk-form-row parsley-row">
                                    <label for="nome">Cargo <span class="req">*</span></label>
                                    <input name="nome" id="nome" required="required" maxlength="200" class="md-input" th:field="*{nome}"/>
                                </div>
							</div>

                           	<div class="uk-width-medium-1-1 uk-margin-medium-top">
								<div class="uk-form-row">
									<label class="label-req"><span class="req">*</span> Campos obrigatórios</label> 
								</div>
							</div>
						</div>
                        <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-1-1 uk-text-center">
								<button type="submit" class="md-btn md-btn-success md-btn-flat-primary btnGravar">Gravar</button>
                                <a th:href="@{/cargo}" type="button" class="md-btn md-btn-danger uk-modal-close">Cancelar</a>
							</div>
						</div>
						<script th:inline="javascript">
							var idEmpresa = [[${cargo.idEmpresa}]]
							var idSetor = [[${cargo.idSetor}]]
						</script>
                    </form>
                </div>
            </div>
		</section>
		<div layout:include="./fragments/jsValidacao"></div>
		<script th:src="@{/js/componentes/empresaCombo.js}"></script>
		<script th:src="@{/js/componentes/setorCombo.js}"></script>
		<script th:src="@{/js/cadastros/cargo.js}"></script>
		<script th:src="@{/js/loader.js}"></script>
		<script th:inline="javascript">
		 	//<![CDATA[
				$(function() {
					formatarCamposData($('.input_dataInicio'));
					formatarCamposData($('.input_dataFim'));
				});
			//]]>
		</script>
	</th:block>
</html>