<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

	<th:block layout:fragment="conteudo">    	
		<section class="content">
			<h3 class="heading_b uk-margin-bottom">Usuário</h3>
			
			<div class="md-card">
                <div class="md-card-content large-padding">
                    <form id="form_validation" class="uk-form-stacked" method="POST" enctype="multipart/form-data" th:action="@{/usuario/gravar}" th:object="${usuario}">
                    
                    	<div layout:include="./fragments/mensagem-erro"></div>
                    
                    	<input type="hidden" th:field="*{id}"/>
                    	<input type="hidden" th:field="*{checksum}"/>
                    	<input type="hidden" th:field="*{checksumAlteracao}"/>
                    
                        <div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
                            <div class="uk-width-medium-1-1">
                                <div class="uk-form-row parsley-row">
                                    <label for="nome">Nome <span class="req">*</span></label>
                                    <input name="nome" id="nome" required="required" class="md-input" autofocus="autofocus" th:field="*{nome}" />
                                </div>
							</div>
                            <div class="uk-width-medium-1-1">
                                <div class="uk-form-row parsley-row">
                                    <label for="email">E-mail <span class="req">*</span></label>
                                    <input name="email" id="email" type="email" required="required" class="md-input" th:field="*{email}" />
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                    <label for="senha">Senha <span class="req">*</span></label>
                                    <input type="password" name="senha" id="senha" required="required" class="md-input" th:field="*{senha}" />
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                    <label for="confirmacao_senha">Confirmação da senha <span class="req">*</span></label>
                                    <input type="password" name="confirmacao_senha" id="confirmacao_senha" required="required" class="md-input" th:field="*{confirmaSenha}" />
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                    <label for="nivelAcessoCombo">Nível de Acesso <span class="req">*</span></label>
                                    <select id="nivelAcessoCombo" class="md-input input_combo" th:field="*{idNivelAcesso}" data-parsley-combo="data-parsley-combo">
                                		<option th:each="nivel : ${niveisAcessoCombo}" th:value="${nivel.key}" th:text="${nivel.label}"></option>
                            		</select>
                                </div>
							</div>
							
							 <div class="uk-width-medium-1-2">
							 	<div class="uk-input-group uk-form-row parsley-row">
	                                <label for="acessoDesktopCombo">Possui acesso ao módulo desktop? </label>
                                    <select id="acessoDesktopCombo" class="md-input input_combo" th:field="*{acessoModuloDesktop}">
                                		<option th:each="acesso : ${acessoDesktopCombo}" th:value="${acesso.key}" th:text="${acesso.label}"></option>
                            		</select>
	                                <span class="uk-input-group-addon" >
	                                    <a class="material-icons icon-help" data-uk-tooltip="{pos:'right', cls:'long-text'}" title="Ao selecionar 'Sim' você estará liberando o acesso a TODAS funcionalidades do DEX System - Módulo Desktop">help</a>
	                                </span>
	                            </div>
							</div>
                            
                            <div class="uk-width-medium-1-1 uk-margin-medium-top">
								<div class="uk-form-row">
									<label class="label-req"><span class="req">*</span> Campos obrigatórios</label> 
								</div>
							</div>
                        </div>
                        <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-1-1 uk-text-center">
								<button type="submit" class="md-btn md-btn-success md-btn-flat-primary btnGravar">Gravar</button>
                                <a th:href="@{/usuario}" type="button" class="md-btn md-btn-danger uk-modal-close">Cancelar</a>
							</div>
						</div>
                        <script th:inline="javascript">
							$('#senha').val([[${usuario.senha}]]);
							$('#confirmacao_senha').val([[${usuario.confirmaSenha}]]);
						</script>
                    </form>
                </div>
            </div>
		</section>
		<div layout:include="./fragments/jsValidacao"></div>
	</th:block>
</html>