<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

	<th:block layout:fragment="conteudo">    	
		<section class="content">
			<h3 class="heading_b uk-margin-bottom">Empregado</h3>
			
			<div class="md-card">
                <div class="md-card-content large-padding">
                    <form id="form_validation" class="uk-form-stacked" method="POST" enctype="multipart/form-data" th:action="@{/empregado/gravar}" th:object="${empregado}">
                    	
                    	<div layout:include="./fragments/mensagem-erro"></div>
                    	
                    	<input type="hidden" id="id" th:field="*{id}"/>
                    	<input type="hidden" th:field="*{demitido}"/>
                    	<input type="hidden" th:field="*{checksum}"/>
                    	<input type="hidden" th:field="*{checksumAlteracao}"/>
					                    
                        <div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
                        	<div class="uk-width-medium-1-4">
                                <div class="uk-form-row parsley-row">
									<label for="dataAdmissao">Data de Admissão <span class="req">*</span></label>
                                   	<input id="dataAdmissao" class="md-input input_dataAdmissao" required="required" type="text" th:field="*{dataAdmissaoString}"  />
								</div>
							</div>
							<div class="uk-width-medium-1-4	">
                                <div class="uk-form-row parsley-row">
									<label for="dataDemissao">Data de Demissão</label>
                                   	<input id="dataDemissao" class="md-input input_dataDemissao" type="text" th:field="*{dataDemissaoString}" />
								</div>
							</div>
						</div>
						<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                    <label for="empresaCombo">Empresa <span class="req">*</span></label>
                                    <select id="empresaCombo" class="md-input input_combo" th:field="*{idEmpresa}" data-parsley-combo="data-parsley-combo" th:readonly="*{id != null}" ></select>
                                </div>
							</div>
							<div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                    <label for="pessoaFisicaCombo">Pessoa <span class="req">*</span></label>
                                    <select id="pessoaFisicaCombo" class="md-input input_combo" th:field="*{idPessoa}" data-parsley-combo="data-parsley-combo" th:readonly="*{id != null}" ></select>
                                </div>
							</div>
							<div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                    <label for="matricula">Matrícula</label>
                                    <input name="matricula" id="matricula" maxlength="30" class="md-input" th:field="*{matricula}"/>
                                </div>
							</div>
							<div class="uk-width-medium-1-1 uk-margin-medium-top ">
								<p class="uk-text-large" style="    font-weight: 500;">Cadastro da senha utilizada para confirmar o recebimento de EPIs</p>
							</div>
							<div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                    <label for="senha">Senha </label>
                                    <input type="password" name="senha" id="senha" class="md-input" th:field="*{senha}" />
                                </div>
                            </div>
							<div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                    <label for="confirmacao_senha">Confirmação da Senha </label>
                                    <input type="password" name="confirmacao_senha" id="confirmacao_senha" class="md-input" th:field="*{confirmaSenha}" />
                                </div>
                            </div>
                           	<div class="uk-width-medium-1-1 uk-margin-medium-top">
								<div class="uk-form-row">
									<label class="label-req"><span class="req">*</span> Campos obrigatórios</label> 
								</div>
							</div>
						</div>
                        <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-1-1 uk-text-center">
								<button type="submit" class="md-btn md-btn-success md-btn-flat-primary btnGravar">Gravar</button>
                                <a th:href="@{/empregado}" type="button" class="md-btn md-btn-danger uk-modal-close">Cancelar</a>
							</div>
						</div>
						<div th:if="${modalConfirmacao}">
							<script th:inline="javascript">
								$(function() {
									var modalConfirmacao = /*[[${modalConfirmacao}]]*/;
									var msgConfirmacao = /*[[${msgConfirmacao}]]*/;
									if (modalConfirmacao) {
										$('#empregadoConfirmacao').on('show.uk.modal', function(event) {
											$('#empregadoConfirmacao').find('span').html(msgConfirmacao);
										});
										abrirModal('empregadoConfirmacao');
									}
								});
							</script>
						</div>
						 <script th:inline="javascript">
						 	var idEmpresa = [[${empregado.idEmpresa}]]
						 	var idPessoa = [[${empregado.idPessoa}]]
							$('#senha').val([[${empregado.senha}]]);
						 	$('#confirmacao_senha').val([[${empregado.confirmaSenha}]]);
						</script>
                    </form>
                </div>
            </div>
            <div layout:include="./cadastros/empregado/empregado-confirmacaoModal"></div>
		</section>
		<div layout:include="./fragments/jsValidacao"></div>
		<script th:src="@{/js/componentes/empresaCombo.js}"></script>
		<script th:src="@{/js/componentes/pessoaCombo.js}"></script>
		<script th:src="@{/js/cadastros/empregado.js}"></script>
		<script th:src="@{/js/loader.js}"></script>
		<script th:inline="javascript">
		 	//<![CDATA[
				$(function() {
					formatarCamposData($('.input_dataAdmissao'));
					formatarCamposData($('.input_dataDemissao'));
				});
			//]]>
		</script>
	</th:block>
</html>