<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

	<th:block layout:fragment="conteudo">
		<section class="content">
	
			<h3 class="heading_b uk-margin-bottom">Controle de Entrega</h3>
	
			<form th:action="@{/controleEntrega}" method="GET" th:object="${empregadoEpiFilter}">
				<div class="md-card md-card-filter">
	                <div class="md-card-content">
                		<div class="uk-grid uk-grid-divider" data-uk-grid-margin="data-uk-grid-margin">
                		
                			<div class="uk-width-medium-1-2 center">
                                <div class="uk-form-row parsley-row">
                                	<h4 class="heading_c uk-margin-bottom">Empresa</h4>
                               		<select id="empresaCombo" name="empresaSelecionada" class="md-input" th:field="*{idEmpresa}" >
										<option th:each="item : ${empresasCombo}" th:value="${item.key}" th:text="${item.label}"></option>
									</select>
	  							</div>
							</div>
							
							<div class="uk-width-medium-1-2 center">
                                <div class="uk-form-row parsley-row">
                                	<h4 class="heading_c uk-margin-bottom">Empregado</h4>
                               		<select id="empregadoCombo" name="empregadoSelecionado" class="md-input" th:field="*{idEmpregado}" ></select>
	  							</div>
							</div>
                        </div>
	                </div>
				</div>
				
				<div id="div-content" class="no-display">
					<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin" style="margin-top:25px!important;">
						<div class="uk-width-medium-2-4" >
		                    <div class="md-card">
		                        <div class="md-card-content" style="min-height: 100px;">
		            				<div class="uk-grid uk-grid-width-medium-1-2 uk-grid-medium" >
		                        		<div style="width:max-content">
		                        			<i class="material-icons" style="font-size:90px;">assignment_ind</i>
		                        		</div>
		                        		<div>
				                        	<h3 class="uk-margin-remove">
				                        		<span id="nomeEmpregado"></span>
				                        	</h3>
				                        	<span id="idadeEmpregado" class="uk-text-small"></span><br/>
				                        	<span id="matriculaEmpregado" class="uk-text-small"></span><br/>
				                        	<span id="setorEmpregado" class="uk-text-small"></span><br/>
				                        	<span id="cargoEmpregado" class="uk-text-small"></span><br/>
				                        </div>
									</div>
		                        </div>
		                    </div>
		                </div>
		                
		                <div class="uk-width-medium-1-2">
		                	<div class="md-card">
		                		<div class="md-card-toolbar">
		                			<h3 class="md-card-toolbar-heading-text">
                                		Estatísticas
                            		</h3>
		                		</div>
		                        <div class="md-card-content" style="min-height: 55px;">
		                        	<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
										<div class="uk-width-medium-1-4">
			                        		<span class="uk-text-muted uk-text-small">Aguardando entrega</span>
											<h2 class="uk-margin-remove">
												<span id="aguardandoEntrega" class="countUpMe">0</span>
											</h2>
										</div>
										<div class="uk-width-medium-1-4">
			                        		<span class="uk-text-muted uk-text-small">Entregas atrasadas</span>
											<h2 class="uk-margin-remove">
												<span id="entregasVencidas" class="countUpMe">0</span>
											</h2>
										</div>
										<div class="uk-width-medium-1-4">
			                        		<span class="uk-text-muted uk-text-small">EPIs vencidos</span>
											<h2 class="uk-margin-remove">
												<span id="epiVencido" class="countUpMe">0</span>
											</h2>
										</div>
			                        	<div class="uk-width-medium-1-4">
											<span class="uk-text-muted uk-text-small">EPIs em dia</span>
											<h2 class="uk-margin-remove">
												<span id="epiDia" class="countUpMe">0</span>
											</h2>
			                        	</div>
									</div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="uk-alert uk-alert-danger uk-sem-senha" th:classappend="${!possuiSenha ? 'cadastrar-senha' : '' }" th:if="${!possuiSenha}" onclick="abrirCadastroSenha()" data-uk-alert="">
						<span>Este empregado não possui senha cadastrada para confirmar o recebimento de EPIs! Clique aqui para cadastrar.</span>
					</div>
		            
					<div class="md-card uk-margin-top" >
						<div class="md-card-content">
							<div layout:include="./fragments/mensagem"></div>

							<div class="uk-grid uk-grid-list" data-uk-grid-margin="data-uk-grid-margin">
								<div class="uk-width-medium-1-2">
									<a th:href="@{/controleEntrega/novo/{idEmpregado}(idEmpregado=*{idEmpregado})}" th:if="${!bloquearInsercao}" class="md-btn md-btn-success"> 
										<span th:text="Incluir"></span>
									</a>
									<a onclick="entregar()" th:if="${!bloquearInsercao}" class="md-btn md-btn-primary"> 
										<span >Entregar / Devolver</span>
									</a>
									<div class="uk-button-dropdown uk-btn-acoes" data-uk-dropdown="{mode:'hover'}" style="padding-left: 8px;" aria-haspopup="true" aria-expanded="false">
		                                <a class="md-btn md-btn-primary" style="background: #2196f3;color: #fff;">+ Ações </a>
		                                <div class="uk-dropdown uk-dropdown-bottom" aria-hidden="true" >
		                                    <ul class="uk-nav uk-nav-dropdown" >
		                                        <li th:if="${!bloquearInsercao}" data-uk-tooltip="{pos:'right',cls:'long-text'}" title="Atualiza lista de EPIs previstos para o Cargo">
		                                        	<a th:href="@{/controleEntrega/atualizar/{idEmpregado}(idEmpregado=*{idEmpregado})}">Atualizar EPIs</a>
		                                        </li>
		                                        <li><a th:href="@{/controleEntrega/download/fichaEpi}" target="_blank">Imprimir Ficha de EPI</a></li>
		                                    </ul>
		                                </div>
		                            </div>
								</div>
								
								<div class="uk-width-medium-1-2">
		 							<div class="uk-margin">
								        <div class="uk-inline input-search">
			                            	<input id="pesquisar" type="text" class="md-input" placeholder="Pesquisar" th:field="*{pesquisa}"/>
			                            	<button id="btnSearch" type="submit" class="md-icon material-icons input-icon-search">search</button>
			                            	
			                            	<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" style="margin-top:10px">
				                                <a class="md-icon material-icons">more_vert</a>
				                                <div class="uk-dropdown">
				                                    <ul class="uk-nav uk-nav-dropdown">
				                                    	<li class="uk-nav-header">Exportar</li>
				                                    	<li class="uk-nav-divider"></li>
				                                        <li><a th:href="@{/controleEntrega/downloadPdf}" target="_blank">PDF</a></li>
				                                    </ul>
				                                </div>
				                            </div>
			                            	
			                            	<div class="uk-button-dropdown" data-uk-dropdown="{pos:'left-top', mode:'click'}" style="margin-top:10px" data-uk-tooltip="" title="Filtros">
				                                <i class="md-icon uk-icon-filter"></i>
				                                <div class="uk-dropdown">
				                                    <ul class="uk-nav uk-nav-dropdown">
				                                    	<li class="uk-nav-header">Filtros</li>
				                                    	<li class="uk-nav-divider"></li>
				                                    	<li>
				                                        	<div style="padding-left: 15px;">
					                                        	<input type="checkbox" name="aguardando" id="aguardando" data-md-icheck="data-md-icheck" th:field="*{aguardando}" />
	                                        					<label for="aguardando" class="inline-label">Aguardando entrega</label>
	                                        				</div>
				                                        </li>
				                                        <li>
				                                        	<div style="padding-left: 15px;">
					                                        	<input type="checkbox" name="entregaVencida" id="entregaVencida" data-md-icheck="data-md-icheck" th:field="*{entregaVencida}" />
	                                        					<label for="entregaVencida" class="inline-label">Entregas atrasadas</label>
	                                        				</div>
				                                        </li>
				                                        <li>
				                                        	<div style="padding-left: 15px;">
					                                        	<input type="checkbox" name="ativo" id="ativo" data-md-icheck="data-md-icheck" th:field="*{ativo}" />
	                                        					<label for="ativo" class="inline-label">EPIs em dia</label>
	                                        				</div>
				                                        </li>
				                                        <li>
				                                        	<div style="padding-left: 15px;">
					                                        	<input type="checkbox" name="vencido" id="vencido" data-md-icheck="data-md-icheck" th:field="*{vencido}" />
	                                        					<label for="vencido" class="inline-label">EPIs vencidos</label>
	                                        				</div>
				                                        </li>
				                                        <li>
				                                        	<div style="padding-left: 15px;">
					                                        	<input type="checkbox" name="substituido" id="substituido" data-md-icheck="data-md-icheck" th:field="*{substituido}" />
	                                        					<label for="substituido" class="inline-label">EPIs substituídos</label>
	                                        				</div>
				                                        </li>
				                                        <li>
				                                        	<div style="padding-left: 15px;">
					                                        	<input type="checkbox" name="devolvido" id="devolvido" data-md-icheck="data-md-icheck" th:field="*{devolvido}" />
	                                        					<label for="devolvido" class="inline-label">EPIs devolvidos</label>
	                                        				</div>
				                                        </li>
				                                        <li>
				                                        	<div style="padding-right: 15px;padding-top: 15px;float: right;">
				                                        		<button id="" type="submit" class="md-btn md-btn-primary md-btn-flat-primary">Filtrar</button>
				                                        	</div>
				                                        </li>
				                                    </ul>
				                                </div>
				                            </div>
								        </div>
								    </div>
								</div>
		                     </div>
							
							<div class="uk-overflow-container tabela">
								<table id="tableEpi" class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair">
									<thead>
										<tr>
											<th style="width:50px">
												<input id="checkTodos" type="checkbox" data-md-icheck="data-md-icheck"/>
											</th>
											<th class="uk-width-4-10"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='EPI', campo='epi.nome')"></div></th>
											<th class="uk-width-1-10 uk-text-center"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='CA', campo='epi.ca')"></div></th>
											<th class="uk-width-1-10 uk-text-center"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='Qtd.', campo='quantidade')"></div></th>
											<th class="uk-width-1-10 uk-text-center"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='Prev. Entrega', campo='dataPrevistaEntrega')"></div></th>
											<th class="uk-width-1-10 uk-text-center"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='Entrega', campo='dataEntrega')"></div></th>
											<th class="uk-width-1-10 uk-text-center"><div th:replace="fragments/ordenacao :: ordenacao(pagina=${pagina}, nome='Prev. Troca', campo='dataPrevistaTroca')"></div></th>
											<th class="uk-width-1-10 uk-text-center">Status</th>
											<th class="uk-width-1-10 uk-text-center" th:if="${!bloquearExclusao}">Ações</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="empregadoEpi,linha : ${pagina.conteudo}" th:class="${linha.even} ? 'odd' : 'even'">
											<td class="uk-text-center" th:id="${empregadoEpi.id}">
												<input type="checkbox" data-md-icheck="data-md-icheck" class="check-linha" th:if="${!empregadoEpi.finalizado and !empregadoEpi.epiCaVencido}"/>
												<span th:if="${empregadoEpi.finalizado}" data-uk-tooltip="{cls:'long-text'}" title="Esta entrega já foi realizada e este EPI já foi substituído e/ou devolvido!">
													<input type="checkbox" data-md-icheck="data-md-icheck" disabled="disabled"/>
												</span>
												<span th:if="${empregadoEpi.epiCaVencido}" data-uk-tooltip="{cls:'long-text'}" title="Este EPI está com o CA vencido e não poderá ser entregue ou substituído!">
													<input type="checkbox" data-md-icheck="data-md-icheck" disabled="disabled"/>
												</span>
											</td>
											<td th:text="${empregadoEpi.epi.nome}"></td>
											<td class="uk-text-center" th:text="${empregadoEpi.epi.ca}"></td>
											<td class="uk-text-center" th:text="${empregadoEpi.quantidade}"></td>
											<td class="uk-text-center" th:text="${empregadoEpi.dataPrevistaEntregaFormatada}"></td>
											<td class="uk-text-center" th:text="${empregadoEpi.dataEntregaFormatada}"></td>
											<td class="uk-text-center" th:text="${empregadoEpi.dataPrevistaTrocaFormatada}"></td>
											<td class="uk-text-nowrap uk-text-center">
												<span th:class="${empregadoEpi.statusCor}" th:text="${empregadoEpi.statusDescricao}" style="width:120px;"></span>
											</td>
											<td class="uk-text-center" th:if="${!bloquearAlteracao or !bloquearExclusao}">
												<a th:onclick="'visualizarDetalhes(\'' + ${empregadoEpi.id} + '\');'" data-uk-tooltip="data-uk-tooltip" title="Visualizar Detalhes">
							                    	<i class="md-icon material-icons">visibility</i>
							                    </a>
												<span disabled="disabled" th:if="${!bloquearExclusao and empregadoEpi.confirmado}">
							                    	<i class="md-icon material-icons" data-uk-tooltip="{cls:'long-text'}" title="Não é possível excluir entregas já confirmadas">delete</i>
							                    </span>
							                    <a th:onclick="'excluir(\'' + @{/controleEntrega/excluir/{codigo}(codigo=${empregadoEpi.id})} + '\');'" th:if="${!bloquearExclusao and !empregadoEpi.confirmado}" data-uk-tooltip="data-uk-tooltip" title="Excluir">
							                    	<i class="md-icon material-icons">delete</i>
							                    </a>
							                </td>
										</tr>
										<tr th:if="${pagina.vazia}">
											<td class="uk-text-center table-empty" colspan="8"><span>Nenhum registro encontrado</span></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div th:replace="fragments/paginacao :: paginacao(pagina=${pagina})"></div>
						</div>
					</div>
				</div>
				<script th:inline="javascript">
					var idEmpresa = [[${empregadoEpiFilter.idEmpresa}]]
					var idEmpregado = [[${empregadoEpiFilter.idEmpregado}]]
				</script>
			</form>
			<div layout:include="./cadastros/controleEntrega/controleEntrega-detalhesEntregaModal"></div>
			<div layout:include="./cadastros/controleEntrega/controleEntrega-entregaModal"></div>
			<div layout:include="./cadastros/controleEntrega/controleEntrega-confirmaEntregaModal"></div>
			<div layout:include="./cadastros/controleEntrega/controleEntrega-cadastroSenhaModal"></div>
		</section>
		<div layout:include="./fragments/jsValidacao"></div>
		<script th:src="@{/js/cadastros/controleEntrega.js}"></script>
		<script th:src="@{/js/loader.js}"></script>
	</th:block>
</html>