<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div class="uk-modal" id="entregaModal" aria-hidden="true" style="display: none; overflow-y: auto;">
		<div class="uk-modal-dialog uk-modal-dialog-large" id="entregaModalContent" style="top: 100px;">
			<form id="formEntregaModal" class="uk-form-stacked" method="POST" enctype="multipart/form-data" th:action="@{/controleEntrega/entregar/confirmar}" th:object="${entregaVO}" >
				<div class="uk-modal-header">
					<h3 class="uk-modal-title">Entrega de EPIs</h3>
				</div>
				<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
				
					<input type="hidden" th:field="*{idEmpresa}" />
					<input type="hidden" th:field="*{idEmpregado}" />
					
					<div class="uk-width-medium-1-1">
						<div class="uk-overflow-container tabela">
							<table id="tabelaEntrega" class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair">
								<thead>
									<tr>
										<th class="uk-width-1-10 uk-text-center" style="width:50px">
											Devolver
											<a title="Registra que o empregado está devolvendo para a empresa o EPI que será substituido" class="material-icons icon-help" data-uk-tooltip="{cls:'long-text'}" style="font-size: 20px;">help</a>
										</th>
										<th class="uk-width-1-10 uk-text-center" style="width:50px">
											Substituir
										</th>
										<th class="uk-width-4-10">EPI</th>
										<th class="uk-width-1-10 uk-text-center" style="min-width:50px">Qtd.</th>
										<th class="uk-width-2-10">Tamanho</th>
										<th class="uk-width-2-10" th:if="${informarMotivo}">Motivo</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="empregadoEpi,linha : ${entregaVO.episEntrega}" th:class="${linha.even} ? 'odd' : 'even'">
										<input type="hidden" th:field="${entregaVO.episEntrega[__${linha.index}__].id}" />
										<input th:id="quantidadeOriginal+${linha.index}" type="hidden" th:field="${entregaVO.episEntrega[__${linha.index}__].quantidade}" />
										<input th:id="tamanhoOriginal+${linha.index}" type="hidden" th:field="${entregaVO.episEntrega[__${linha.index}__].idGradeItem}" />
										
										<td class="uk-text-center">
											<input th:id="checkDevolucao+${linha.index}" type="checkbox" data-md-icheck="data-md-icheck" class="check-entrega" th:field="${entregaVO.episEntrega[__${linha.index}__].devolver}" th:if="${empregadoEpi.substituicao}" onchange="validarCheckDevolucao(this)"/>
											<span th:if="${!empregadoEpi.substituicao}" data-uk-tooltip="{cls:'long-text'}" title="Não é possível devolver o EPI na primeira entrega!">
												<input type="checkbox" data-md-icheck="data-md-icheck" disabled="disabled"/>
											</span>
										</td>
										<td class="uk-text-center">
											<input th:id="checkSubstituicao+${linha.index}" type="checkbox" data-md-icheck="data-md-icheck" class="check-entrega check-entrega-substituicao" th:field="${entregaVO.episEntrega[__${linha.index}__].substituir}" th:if="${empregadoEpi.substituicao}" onchange="validarCheckSubstituicao(this)"/>
											<span th:if="${!empregadoEpi.substituicao}" data-uk-tooltip="{cls:'long-text'}" title="Não é possível substituir o EPI na primeira entrega!">
												<input type="checkbox" data-md-icheck="data-md-icheck" disabled="disabled"/>
											</span>
										</td>
										<td>
											<span th:text="${empregadoEpi.epi.nome}"></span><br/>
											<span class="uk-text-small uk-text-muted" th:text="'CA: ' + ${empregadoEpi.ca}"></span><br/>
											<span th:id="spanAcao+${linha.index}" class="uk-text-small uk-text-muted" th:text="'Ação: ' + ${empregadoEpi.acaoEntrega}"></span><br/>
										</td>
										<td class="uk-text-center">
											<input th:id="quantidade+${linha.index}" type="number" min="1" class="md-input input-numeric input-quantidade" style="text-align: center;" th:field="${entregaVO.episEntrega[__${linha.index}__].quantidade}" th:disabled="${!empregadoEpi.substituicao}"/>
										</td>
										<td >
											<select th:id="tamanhoCombo+${linha.index}" class="md-input select-tamanho" th:if="${empregadoEpi.epi.possuiGrade}" th:field="${entregaVO.episEntrega[__${linha.index}__].idGradeItem}" >
												<option th:each="tamanho : ${empregadoEpi.gradeItens}" th:value="${tamanho.key}" th:text="${tamanho.label}"></option>
											</select>
											<span th:if="${!empregadoEpi.epi.possuiGrade}">
												<span class="uk-badge uk-badge-primary" style="font-size:14px" >EPI sem grade</span>
											</span>
										</td>
										<td th:if="${informarMotivo}">
											<select id="motivoCombo" class="md-input select-motivo" th:field="${entregaVO.episEntrega[__${linha.index}__].idMotivo}" >
												<option th:each="motivo : ${motivosCombo}" th:value="${motivo.key}" th:text="${motivo.label}"></option>
											</select>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="uk-modal-footer uk-text-center">
					<button type="button" class="md-btn md-btn-success uk-modal-success" onclick="validar()">Continuar</button>
		            <button type="button" class="md-btn md-btn-danger uk-modal-close">Cancelar</button>
				</div>
			</form>
		</div>
	</div>
</html>
