<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

	<th:block layout:fragment="conteudo">    	
		<section class="content">
			<h3 class="heading_b uk-margin-bottom">Controle de Entrega - Incluir previsão de entrega</h3>
			
			<div class="md-card">
                <div class="md-card-content large-padding">
                    <form id="form_validation" class="uk-form-stacked" method="POST" enctype="multipart/form-data" th:action="@{/controleEntrega/gravar}" th:object="${empregadoEpi}">
                    	
                    	<div layout:include="./fragments/mensagem-erro"></div>
                    	
                    	<input type="hidden" id="id" th:field="*{id}"/>
                    	<input type="hidden" id="id" th:field="*{idEmpregado}"/>
                    	
                    	<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
	                    	<div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                    <label for="empresa">Empresa</label>
                                    <input name="empresa" id="empresa" class="md-input" readonly="readonly" th:field="*{empregado.empresa.razaoSocial}" />
                                </div>
							</div>
							<div class="uk-width-medium-1-2">
                                <div class="uk-form-row parsley-row">
                                    <label for="empregado">Empregado</label>
                                    <input name="empregado" id="empregado" class="md-input" readonly="readonly" th:field="*{empregado.pessoaFisica.pessoa.nome}" />
                                </div>
							</div>
						</div>
                    	
                    	<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
                        	<div class="uk-width-medium-1-4">
                                <div class="uk-form-row parsley-row">
									<label for="dataPrevistaEntrega">Previsão de entrega <span class="req">*</span></label>
                                   	<input id="dataPrevistaEntrega" class="md-input input_dataPrevEntrega" required="required" type="text" th:field="*{dataPrevistaEntregaString}" />
								</div>
							</div>
						</div>
					               
					    <div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
					    	<div class="uk-epi uk-width-medium-1-1">  
                                <div class="uk-form-row parsley-row">
                                    <label for="epiCombo">EPI <span class="req">*</span></label>
                                    <select id="epiCombo" class="md-input input_combo" th:field="*{idEpi}" data-parsley-combo="data-parsley-combo">
                                		<option th:each="epi : ${episCombo}" th:value="${epi.key}" th:text="${epi.label}"></option>
                            		</select>
                                </div>
							</div>
							
							<div class="uk-width-medium-1-6 uk-grade no-display">
                                <div class="uk-form-row parsley-row">
                                    <label for="grade">Grade</label>
                                    <input name="grade" id="grade" class="md-input" readonly="readonly"  />
                                </div>
							</div>
							
							<div class="uk-width-medium-1-6 uk-grade-tamanho no-display">
                                <div class="uk-form-row parsley-row">
                                	<label for="grade">Tamanhos <span class="req">*</span></label>
                               		<select id="tamanhoCombo" name="tamanhoCombo input_combo" class="md-input" th:field="*{idGradeItem}" data-parsley-combo="data-parsley-combo" ></select>
	  							</div>
							</div>
						</div>
						
						<div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">  
							<div class="uk-width-medium-1-10">
                                <div class="uk-form-row parsley-row">
									<label for="quantidade">Quantidade <span class="req">*</span></label>
   									<input type="number" min="1" class="md-input input-numeric" required="required" th:field="*{quantidade}" style="text-align: right;" />
								</div>
							</div>
                        
                           	<div class="uk-width-medium-1-1 uk-margin-medium-top">
								<div class="uk-form-row">
									<label class="label-req"><span class="req">*</span> Campos obrigatórios</label> 
								</div>
							</div>
						</div>
                        <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-1-1 uk-text-center">
								<button type="submit" class="md-btn md-btn-success md-btn-flat-primary">Gravar</button>
                                <a th:href="@{/controleEntrega?idEmpregado={idEmpregado}(idEmpregado=${empregadoEpi.empregado.id})}" type="button" class="md-btn md-btn-danger uk-modal-close">Cancelar</a>
							</div>
						</div>
						<script th:inline="javascript">
							var idEpi = [[${empregadoEpi.idEpi}]]
							var idGradeItem = [[${empregadoEpi.idGradeItem}]]
						</script>
                    </form>
                </div>
            </div>
<!--             <div layout:include="./cadastros/empregado/empregado-confirmacaoModal"></div> -->
		</section>
		<div layout:include="./fragments/jsValidacao"></div>
		<script th:src="@{/js/cadastros/controleEntrega-cadastro.js}"></script>
		<script th:src="@{/js/loader.js}"></script>
		<script th:inline="javascript">
		 	//<![CDATA[
				$(function() {
					formatarCamposData($('.input_dataPrevEntrega'));
				});
			//]]>
		</script>
	</th:block>
</html>