<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

	<th:block layout:fragment="conteudo">
		<section class="content">
	
			<h3 class="heading_b uk-margin-bottom">Relatório de entregas</h3>
	
			<form method="GET" th:object="${empregadoEpiFilter}">
				<input type="hidden" id="filtroAberto" th:field="*{filtroAberto}"/>
			
				<div class="md-card md-card-filter" th:classappend="*{filtroAberto ? '' : 'md-card-collapsed'}">
					<div class="md-card-toolbar">
	                    <div class="md-card-toolbar-actions">
							<i class="md-icon material-icons md-card-toggle" th:text="*{filtroAberto ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}" onclick="controlaPainelFiltros()"></i>
						</div>
	                    <h3 class="md-card-toolbar-heading-text md-card-filter-title">
	                        FILTROS
	                    </h3>
					</div>
	                <div class="md-card-content" th:style="*{filtroAberto} ? 'display:block' : 'display:none'">
                		<div class="uk-grid uk-grid-divider" data-uk-grid-margin="data-uk-grid-margin">
                			<div class="uk-width-medium-1-3 center">
                                <div class="uk-form-row parsley-row">
                                	<h4 class="heading_c uk-margin-bottom">Empresa</h4>
									<select id="empresaCombo" class="md-input list" th:field="*{idEmpresa}"></select>
	  							</div>
							</div>

                			<div class="uk-width-medium-1-3 center">
                                <div class="uk-form-row parsley-row">
                                	<h4 class="heading_c uk-margin-bottom">Empregado</h4>
									<select id="empregadoCombo" class="md-input list" th:field="*{idEmpregado}"></select>
	  							</div>
							</div>
							
							<div class="uk-width-medium-1-3 center">
                                <div class="uk-form-row parsley-row">
                                	<h4 class="heading_c uk-margin-bottom">EPI</h4>
                                	<select id="epiCombo" class="md-input" th:field="*{idEpi}">
                                		<option th:each="epi : ${episCombo}" th:value="${epi.key}" th:text="${epi.label}"></option>
                            		</select>
	  							</div>
							</div>
						</div>
						<div class="uk-grid uk-grid-divider" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-medium-1-3 center">
                                <div class="uk-form-row parsley-row">
                                	<h4 class="heading_c uk-margin-bottom">Grade</h4>
                                	<select id="gradeCombo" class="md-input" th:field="*{idGrade}">
                                		<option th:each="grade : ${gradesCombo}" th:value="${grade.key}" th:text="${grade.label}"></option>
                            		</select>
	  							</div>
							</div>
							<div class="uk-width-medium-1-3 center">
                                <div class="uk-form-row parsley-row">
                                	<h4 class="heading_c uk-margin-bottom">Tipo de Confirmação</h4>
                                	<select id="tipoConfirmacaoCombo" class="md-input" th:field="*{tipoConfirmacao}">
                                		<option th:each="tipoConfirmacao : ${tipoConfirmacaoCombo}" th:value="${tipoConfirmacao.key}" th:text="${tipoConfirmacao.label}"></option>
                            		</select>
	  							</div>
							</div>
							
							<div class="uk-width-medium-1-3 center">
                                <div class="uk-form-row parsley-row">
                                	<h4 class="heading_c uk-margin-bottom">Período Entrega</h4>
  									<div class="uk-flex-inline" style="text-align: left;">
  										<div class="uk-input-group range" style="max-width: 100px;">
	                                        <label for="date-from">Data Início</label>
	                                        <input class="md-input md-input-date date-from" type="text" id="dateFrom" th:field="*{dataInicio}"/>
	                                    </div>
	                                    <div class="uk-vertical-align-bottom" style="padding: 15px 10px;">
	                                    	<label>até</label>
	                                    </div>
	                                    <div class="uk-input-group range" style="max-width: 100px;">
	                                        <label for="date-to">Data Fim</label>
	                                        <input class="md-input md-input-date date-to" type="text" id="dateTo" th:field="*{dataFim}" />
	                                    </div>
  									</div>
	  							</div>
							</div>
                        </div>
                       	<div class="uk-grid">
							<div class="uk-width-1-1 uk-text-right">
								<button class="md-btn md-btn-flat-default" onclick="limpaFiltros()">Limpar Filtros</button>
	                        	<button id="#btnFiltrar" type="submit" class="md-btn md-btn-primary md-btn-flat-primary">Filtrar</button>
							</div>
						</div>
	                </div>
				</div>
			
				<div class="md-card uk-margin-medium-bottom">
					<div class="md-card-content">
						<div layout:include="./fragments/mensagem"></div>
					
						<div class="uk-grid uk-grid-list" data-uk-grid-margin="data-uk-grid-margin">
							<div class="uk-width-medium-1-2">
								<a th:href="@{/relatorioEntrega/downloadPdf}" target="_blank" class="md-btn md-btn-primary"> 
									<span th:text="Imprimir"></span>
								</a>
							</div>
							
							<div class="uk-width-medium-1-2">
	 							<div class="uk-margin">
							        <div class="uk-inline input-search">
		                            	<input id="pesquisar" type="text" class="md-input" placeholder="Pesquisar" th:field="*{pesquisa}"/>
		                            	<button id="btnSearch" type="submit" class="md-icon material-icons input-icon-search">search</button>
		                            	
		                            	<div class="uk-button-dropdown" data-uk-dropdown="{pos:'left-top', mode:'click'}" style="margin-top:10px" data-uk-tooltip="" title="Filtros">
			                                <i class="md-icon uk-icon-filter"></i>
			                                <div class="uk-dropdown">
			                                    <ul class="uk-nav uk-nav-dropdown">
			                                    	<li class="uk-nav-header">Filtros</li>
			                                    	<li class="uk-nav-divider"></li>
			                                    	<li>
			                                        	<div style="padding-left: 15px;">
				                                        	<input type="checkbox" name="aguardando" id="aguardando" data-md-icheck="data-md-icheck" th:field="*{aguardando}" />
                                        					<label for="aguardando" class="inline-label">Aguardando entrega</label>
                                        				</div>
			                                        </li>
			                                        <li>
			                                        	<div style="padding-left: 15px;">
				                                        	<input type="checkbox" name="entregaVencida" id="entregaVencida" data-md-icheck="data-md-icheck" th:field="*{entregaVencida}" />
                                        					<label for="entregaVencida" class="inline-label">Entregas atrasadas</label>
                                        				</div>
			                                        </li>
			                                        <li>
			                                        	<div style="padding-left: 15px;">
				                                        	<input type="checkbox" name="ativo" id="ativo" data-md-icheck="data-md-icheck" th:field="*{ativo}" />
                                        					<label for="ativo" class="inline-label">EPIs em dia</label>
                                        				</div>
			                                        </li>
			                                        <li>
			                                        	<div style="padding-left: 15px;">
				                                        	<input type="checkbox" name="vencido" id="vencido" data-md-icheck="data-md-icheck" th:field="*{vencido}" />
                                        					<label for="vencido" class="inline-label">EPIs vencidos</label>
                                        				</div>
			                                        </li>
			                                        <li>
			                                        	<div style="padding-left: 15px;">
				                                        	<input type="checkbox" name="substituido" id="substituido" data-md-icheck="data-md-icheck" th:field="*{substituido}" />
                                        					<label for="substituido" class="inline-label">EPIs substituídos</label>
                                        				</div>
			                                        </li>
			                                        <li>
			                                        	<div style="padding-left: 15px;">
				                                        	<input type="checkbox" name="devolvido" id="devolvido" data-md-icheck="data-md-icheck" th:field="*{devolvido}" />
                                        					<label for="devolvido" class="inline-label">EPIs devolvidos</label>
                                        				</div>
			                                        </li>
			                                        <li>
			                                        	<div style="padding-right: 15px;padding-top: 15px;float: right;">
			                                        		<button id="" type="submit" class="md-btn md-btn-primary md-btn-flat-primary">Filtrar</button>
			                                        	</div>
			                                        </li>
			                                    </ul>
			                                </div>
			                            </div>
							        </div>
							    </div>
							</div>
	                     </div>
						
						<div class="uk-overflow-container tabela">
							<table id="tableEpi" class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair">
								<thead>
									<tr>
										<th class="uk-width-4-10">Entrega</th>
										<th class="uk-width-1-10 uk-text-center">Status</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="empregadoEpi,linha : ${pagina.conteudo}" th:class="${linha.even} ? 'odd' : 'even'">
										<td>
                                        	<div class="uk-grid" data-uk-grid-margin="">
                                            	<div class="uk-width-1-1 uk-width-small-1-1">
                                            		<p th:text="'EMPREGADO: ' + ${empregadoEpi.empregado.pessoaFisica.pessoa.nome}" class="heading_a uk-margin-small-bottom" style="margin-bottom: 0px!important;"></p>
                                            		<p style="margin-top: 0px;margin-bottom: 8px;"><span class="uk-text-muted">Empresa: </span><span th:text="${empregadoEpi.empregado.empresa.razaoSocial}"></span></p>
                                                	<span class="uk-text-muted">EPI: </span><span th:text="${empregadoEpi.epi.nome + (empregadoEpi.dataConfirmacao != null ? ' - Entrega confirmada via ' + (empregadoEpi.tipoConfirmacaoString) : '')}"></span>
                                                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin="" style="margin-top: 0px;">
                                                    	<div class="uk-width-1-3 uk-width-small-1-3" style="max-width: 25%;">
                                                    		<p class="uk-margin-remove"><span class="uk-text-muted">CA:</span> <span th:text="${empregadoEpi.ca}"></span></p>
		                                                    <p class="uk-margin-remove"><span class="uk-text-muted">Grade:</span> <span th:text="${empregadoEpi.grade}"></span></p>
		                                                    <p class="uk-margin-remove"><span class="uk-text-muted">Quantidade:</span> <span th:text="${empregadoEpi.quantidade}"></span></p>
                                                    	</div>
                                                    	
                                            			<div class="uk-width-1-3 uk-width-small-1-3">
		                                                    <p class="uk-margin-remove"><span class="uk-text-muted">Data prevista de entrega:</span> <span th:text="${empregadoEpi.dataPrevistaEntregaFormatada}"></span></p>
		                                                    <p class="uk-margin-remove"><span class="uk-text-muted">Data de entrega:</span> <span th:text="${empregadoEpi.dataEntregaFormatada}"></span></p>
		                                                    <p class="uk-margin-remove"><span class="uk-text-muted">Data prevista de troca:</span> <span th:text="${empregadoEpi.dataPrevistaTrocaFormatada}"></span></p>
	                                                    </div>
	                                                    
	                                                    <div class="uk-width-1-3 uk-width-small-1-3">
	                                                    	<p class="uk-margin-remove"><span class="uk-text-muted">Data de confirmação:</span> <span th:text="${empregadoEpi.dataConfirmacaoFormatada}"></span></p>
		                                                    <p class="uk-margin-remove"><span class="uk-text-muted">Data de substituição:</span> <span th:text="${empregadoEpi.dataSubstituicaoFormatada}"></span></p>
		                                                    <p class="uk-margin-remove"><span class="uk-text-muted">Data de devolução:</span> <span th:text="${empregadoEpi.dataDevolucaoFormatada}"></span></p>
	                                                    </div>
													</div>
												</div>
											</div>
										</td>
										<td class="uk-text-nowrap uk-text-center">
											<span th:class="${empregadoEpi.statusCor}" th:text="${empregadoEpi.statusDescricao}" style="width:120px;"></span>
										</td>
									</tr>
									<tr th:if="${pagina.vazia}">
										<td class="uk-text-center table-empty" colspan="8"><span>Nenhum registro encontrado</span></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div th:replace="fragments/paginacao :: paginacao(pagina=${pagina})"></div>
					</div>
				</div>
				<script th:inline="javascript">
					var idEmpregado = [[${empregadoEpiFilter.idEmpregado}]]
					var idEmpresa = [[${empregadoEpiFilter.idEmpresa}]]
				</script>
			</form>
		</section>
		<script th:src="@{/js/componentes/empresaCombo.js}"></script>
		<script th:src="@{/js/componentes/empregadoCombo.js}"></script>
		<script th:src="@{/js/cadastros/relatorioEntrega.js}"></script>
		<script th:src="@{/js/data_range.js}"></script>
		<script th:inline="javascript">
			function controlaPainelFiltros() {
				var filtroAberto = $('#filtroAberto').val(); 
				$('#filtroAberto').val(filtroAberto === 'true' ? 'false' : 'true');
			}
			function limpaFiltros() {
				$('#empresaCombo').val(null);
				$('#empregadoCombo').val(null);
				$('#epiCombo').val(null);
				$('#gradeCombo').val(null);
				$('#tipoConfirmacaoCombo').val(null);
				$('#dateFrom').val(null);
				$('#dateFrom').parent().removeClass('md-input-filled');
				$('#dateTo').val(null);
				$('#dateTo').parent().removeClass('md-input-filled');
				$('#btnFiltrar').click();
			}
		</script>
	</th:block>
</html>